/*------------------------------------*\
    #CLEARFIX
    https://css-tricks.com/snippets/css/clear-fix/
\*------------------------------------*/

.cf,
%cf{
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}