/*------------------------------------*\
    #TEXT HELPERS
\*------------------------------------*/

.text-primary{ color: $c-primary; }
.text-grey, .text-gray{ color: $c-grey; }
.text-light{ color: $c-light; }
.text-body{ color: $c-text; }
.text-white{ color: #fff; }

.text-center{ text-align: center; }
.text-left{ text-align: left; }
.text-right{ text-align: right; }

.uppercase{ text-transform: uppercase; }