<?php
/**
 *
 *
 * @var BroSolutions_Dealers_Block_Dealerslist
 * @see BroSolutions_Dealers_Block_Dealerslist
 */
?>
<?php
$helper = Mage::helper('dealers');
$dealers = $this->getDealers();
$_sortedDealers = array();
?>


<?php if($dealers->count()): ?>
    <div class="dealers-map" id="dealersMap" style="min-height: 370px"></div>
    <h1>Worldwide distributors</h1>
    <ul class="dealers-list  grid grid--tiny">
        <?php $i = 1; ?>
        <?php foreach($dealers as $dealer): ?>
            <li class="dealers-list__dealer  1/2 1/3--handheld 1/4--lap-and-up grid__cell">
                <div class="flag">
                    <div class="flag__img">
                        <span class="location-pin"><?php echo $i; ?></span>
                    </div>
                    <div class="flag__body">
                        <strong><?php echo $dealer->getCountry(); ?></strong>
                    </div>
                </div>
                <?php echo $dealer->getTitle(); ?>
                <br>
                <?php echo $dealer->getAddress(); ?>
                <?php if ($dealer->getPhone()) : ?>
                    <br>T: <?php echo $dealer->getPhone(); ?>
                <?php endif; ?>
                <?php echo ($dealer->getFax())   ? '<br>F: ' . $dealer->getFax() : ''; ?>
                <?php echo ($dealer->getEmail()) ? '<br>E: <a href="mailto:' . $dealer->getEmail() . '">' . $dealer->getEmail() . '</a>' : ''; ?>
                <?php echo ($dealer->getLink())  ? '<br><a href="//' . $dealer->getLink() . '" target="_blank">' . $dealer->getLink() . '</a>': ''; ?>
            </li>
            <?php $i++; ?>
        <?php endforeach; ?>
    </ul>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDdNzktGBkQgwSCS_Wq8Eu3VuTliQep9bk"></script>
    <script>
        var locations = [
            <?php foreach($dealers as $dealer): ?>
            [
                "<?php echo $dealer->getTitle(); ?>",
                "<?php echo $dealer->getAddress(); ?>",
                "<?php echo $dealer->getLatitude(); ?>",
                "<?php echo $dealer->getLongitude(); ?>"
            ],
            <?php endforeach; ?>
        ];

        var map = new google.maps.Map(document.getElementById('dealersMap'), {
            //zoom: 20,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var marker, i;
        var bounds = new google.maps.LatLngBounds();
        var infowindow = new google.maps.InfoWindow();

        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][2], locations[i][3]),
                map: map,
                icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + (i+1) + '|FF9999|FFFFFF'
            });

            if (locations[i][2] == '47.6387508' ) {
                //bounds.extend(marker.position);
            }


            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    infowindow.setContent(locations[i][0] + "<br>" + locations[i][1]);
                    infowindow.open(map, marker);
                }
            })(marker, i));

        }

        var firstB = new google.maps.LatLng(49.744274, 1.141699);
        var secondB = new google.maps.LatLng(43.957114, 10.327426);
        bounds.extend(firstB);
        bounds.extend(secondB);

        map.fitBounds(bounds);

    </script>

<?php endif; ?>