<?php $childCategories = $this->getChildCategories(); ?>
<?php if($childCategories->count()):?>
<ul class="product-list  grid grid--tiny" data-product-list="">
    <?php foreach($childCategories as $category): ?>
    <li class="product-list__product  1/2 1/3--handheld 1/4--lap-and-up grid__cell">
        <a class="product-card" href="<?php echo $category->getURL(); ?>">
            <div class="product-card__img">
                <img src="<?php echo $category->getImageUrl(); ?>" alt="<?php echo $category->getName(); ?>">
            </div>
            <div class="product-card__details" data-equal-height-element="" style="height: 96px;">
                <button class="btn btn--full btn--hollow" onclick="setLocation(<?php echo $category->getURL(); ?>);"><?php echo $category->getName(); ?></button>
            </div>
        </a>
    </li>
    <?php endforeach; ?>
</ul>
<?php endif; ?>