@charset "UTF-8";
/*!
  Built by Tom Hare - @colourgarden
*/
/*!
*/
/*------------------------------------*\
    #MIXINS
\*------------------------------------*/
/**
 * Mixin
 */
/*------------------------------------*\
    #CLEARFIX
    https://css-tricks.com/snippets/css/clear-fix/
\*------------------------------------*/
/* line 8, ../scss/utilities/_clearfix.scss */
.cf:after,
.media:after {
  content: "";
  display: table;
  clear: both;
}

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
/* line 13, ../scss/vendor/_normalize.scss */
html {
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 26, ../scss/vendor/_normalize.scss */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 34, ../scss/vendor/_normalize.scss */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 48, ../scss/vendor/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
/* line 61, ../scss/vendor/_normalize.scss */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
/* line 71, ../scss/vendor/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 80, ../scss/vendor/_normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 91, ../scss/vendor/_normalize.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 104, ../scss/vendor/_normalize.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
/* line 114, ../scss/vendor/_normalize.scss */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 124, ../scss/vendor/_normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 134, ../scss/vendor/_normalize.scss */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 143, ../scss/vendor/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 153, ../scss/vendor/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 164, ../scss/vendor/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 172, ../scss/vendor/_normalize.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 181, ../scss/vendor/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 190, ../scss/vendor/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 198, ../scss/vendor/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 202, ../scss/vendor/_normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 213, ../scss/vendor/_normalize.scss */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 222, ../scss/vendor/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 231, ../scss/vendor/_normalize.scss */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 239, ../scss/vendor/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 251, ../scss/vendor/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 266, ../scss/vendor/_normalize.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 276, ../scss/vendor/_normalize.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 287, ../scss/vendor/_normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 298, ../scss/vendor/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 310, ../scss/vendor/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
/* line 321, ../scss/vendor/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 334, ../scss/vendor/_normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 348, ../scss/vendor/_normalize.scss */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 357, ../scss/vendor/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 366, ../scss/vendor/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 376, ../scss/vendor/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 386, ../scss/vendor/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
/* line 395, ../scss/vendor/_normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 405, ../scss/vendor/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
/* line 418, ../scss/vendor/_normalize.scss */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 427, ../scss/vendor/_normalize.scss */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 438, ../scss/vendor/_normalize.scss */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
/* line 446, ../scss/vendor/_normalize.scss */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
/* line 457, ../scss/vendor/_normalize.scss */
[hidden] {
  display: none;
}

/*! Avalanche | MIT License | @colourgarden */
/*------------------------------------*\
    SETTINGS
\*------------------------------------*/
/*------------------------------------*\
    LOGIC aka THE MAGIC
\*------------------------------------*/
/*------------------------------------*\
    GRID LAYOUT
\*------------------------------------*/
/* line 144, ../scss/vendor/_avalanche.scss */
.grid {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -20px;
  font-size: 0;
}

/* line 153, ../scss/vendor/_avalanche.scss */
.grid__cell {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  vertical-align: top;
  font-size: 1rem;
}

/* line 166, ../scss/vendor/_avalanche.scss */
.grid--center {
  text-align: center;
}
/* line 169, ../scss/vendor/_avalanche.scss */
.grid--center > .grid__cell {
  text-align: left;
}

/* line 216, ../scss/vendor/_avalanche.scss */
.grid--flush {
  margin-left: 0;
}
/* line 219, ../scss/vendor/_avalanche.scss */
.grid--flush > .grid__cell {
  padding-left: 0;
}

/* line 227, ../scss/vendor/_avalanche.scss */
.grid--tiny {
  margin-left: -5px;
}
/* line 230, ../scss/vendor/_avalanche.scss */
.grid--tiny > .grid__cell {
  padding-left: 5px;
}

/* line 249, ../scss/vendor/_avalanche.scss */
.grid--large {
  margin-left: -40px;
}
/* line 252, ../scss/vendor/_avalanche.scss */
.grid--large > .grid__cell {
  padding-left: 40px;
}

/* line 273, ../scss/vendor/_avalanche.scss */
.grid--auto > .grid__cell {
  width: auto;
}

/*------------------------------------*\
    GRID WIDTHS
\*------------------------------------*/
/* line 103, ../scss/vendor/_avalanche.scss */
.\31\/2, .\32\/4 {
  width: 50%;
}

/* line 103, ../scss/vendor/_avalanche.scss */
.\31\/3 {
  width: 33.33333%;
}

/* line 103, ../scss/vendor/_avalanche.scss */
.\32\/3 {
  width: 66.66667%;
}

/* line 103, ../scss/vendor/_avalanche.scss */
.\31\/4 {
  width: 25%;
}

/* line 103, ../scss/vendor/_avalanche.scss */
.\33\/4 {
  width: 75%;
}

@media screen and (max-width: 499px) {
  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/2--thumb, .\32\/4--thumb {
    width: 50%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/3--thumb {
    width: 33.33333%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\32\/3--thumb {
    width: 66.66667%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/4--thumb {
    width: 25%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\33\/4--thumb {
    width: 75%;
  }
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/2--handheld, .\32\/4--handheld {
    width: 50%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/3--handheld {
    width: 33.33333%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\32\/3--handheld {
    width: 66.66667%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/4--handheld {
    width: 25%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\33\/4--handheld {
    width: 75%;
  }
}
@media screen and (min-width: 500px) {
  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/2--handheld-and-up, .\32\/4--handheld-and-up {
    width: 50%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/3--handheld-and-up {
    width: 33.33333%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\32\/3--handheld-and-up {
    width: 66.66667%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/4--handheld-and-up {
    width: 25%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\33\/4--handheld-and-up {
    width: 75%;
  }
}
@media screen and (max-width: 800px) {
  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/2--pocket, .\32\/4--pocket {
    width: 50%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/3--pocket {
    width: 33.33333%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\32\/3--pocket {
    width: 66.66667%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/4--pocket {
    width: 25%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\33\/4--pocket {
    width: 75%;
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/2--lap, .\32\/4--lap {
    width: 50%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/3--lap {
    width: 33.33333%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\32\/3--lap {
    width: 66.66667%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/4--lap {
    width: 25%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\33\/4--lap {
    width: 75%;
  }
}
@media screen and (min-width: 801px) {
  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/2--lap-and-up, .\32\/4--lap-and-up {
    width: 50%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/3--lap-and-up {
    width: 33.33333%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\32\/3--lap-and-up {
    width: 66.66667%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/4--lap-and-up {
    width: 25%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\33\/4--lap-and-up {
    width: 75%;
  }
}
@media screen and (max-width: 1024px) {
  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/2--portable, .\32\/4--portable {
    width: 50%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/3--portable {
    width: 33.33333%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\32\/3--portable {
    width: 66.66667%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/4--portable {
    width: 25%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\33\/4--portable {
    width: 75%;
  }
}
@media screen and (min-width: 1025px) {
  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/2--desk, .\32\/4--desk {
    width: 50%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/3--desk {
    width: 33.33333%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\32\/3--desk {
    width: 66.66667%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/4--desk {
    width: 25%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\33\/4--desk {
    width: 75%;
  }
}
@media screen and (min-width: 1160px) {
  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/2--widescreen, .\32\/4--widescreen {
    width: 50%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/3--widescreen {
    width: 33.33333%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\32\/3--widescreen {
    width: 66.66667%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/4--widescreen {
    width: 25%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\33\/4--widescreen {
    width: 75%;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/2--retina, .\32\/4--retina {
    width: 50%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/3--retina {
    width: 33.33333%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\32\/3--retina {
    width: 66.66667%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\31\/4--retina {
    width: 25%;
  }

  /* line 103, ../scss/vendor/_avalanche.scss */
  .\33\/4--retina {
    width: 75%;
  }
}
/*------------------------------------*\
    #RESET
\*------------------------------------*/
/**
 * Remove default spacing
 */
/* line 8, ../scss/base/_reset.scss */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

/**
 * Remove default table spacing
 */
/* line 24, ../scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------*\
    #STANDARDIZE
\*------------------------------------*/
/* line 5, ../scss/base/_standardize.scss */
h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre {
  margin-top: 0;
  margin-bottom: 1.5em;
}

/* line 17, ../scss/base/_standardize.scss */
ul, ol, dd {
  padding: 0;
  margin-left: 1.5em;
}

/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
/**
 * Heading styles
 */
/* line 8, ../scss/base/_typography.scss */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  margin-bottom: 0.75em;
}

/* line 17, ../scss/base/_typography.scss */
h1, .alpha {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 24, ../scss/base/_typography.scss */
h2, .beta {
  font-size: 3rem;
  line-height: 1.0833;
  font-weight: 400;
}

/* line 30, ../scss/base/_typography.scss */
h3, .gamma {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 300;
}

/* line 35, ../scss/base/_typography.scss */
h4, .delta {
  font-size: 1rem;
  line-height: 1;
}

/* line 40, ../scss/base/_typography.scss */
h5, .epsilon {
  font-size: 0.875rem;
  line-height: 1.75;
}

/**
 * Small text
 */
/* line 50, ../scss/base/_typography.scss */
small {
  font-size: 75%;
}

/**
 * Links
 */
/* line 58, ../scss/base/_typography.scss */
a {
  text-decoration: none;
  color: #6699cc;
}
/* line 62, ../scss/base/_typography.scss */
a:hover, a:active, a:focus {
  text-decoration: underline;
}

/**
 * Images
 */
/* line 73, ../scss/base/_typography.scss */
img, svg {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
}

/* line 79, ../scss/base/_typography.scss */
img[width],
img[height] {
  max-width: none;
}

/*------------------------------------*\
    #FORMS
\*------------------------------------*/
/**
 * Fieldset
 */
/* line 8, ../scss/base/_forms.scss */
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/**
 * Standardise styling (targeting Safari)
 */
/* line 20, ../scss/base/_forms.scss */
input, input:focus, select, select:focus, textarea, textarea:focus, button, button:focus {
  outline: none;
}

/**
 * Labels
 */
/* line 29, ../scss/base/_forms.scss */
label {
  display: block;
  margin-bottom: 4px;
}

/**
 * Text input, textarea, select
 */
/* line 39, ../scss/base/_forms.scss */
.text-input, textarea, select {
  width: 100%;
  padding: 1em;
  margin-bottom: 20px;
  border: 0;
}

/* line 46, ../scss/base/_forms.scss */
textarea {
  min-height: 250px;
}

/* line 50, ../scss/base/_forms.scss */
select {
  height: 30px;
  padding: 6px 10px;
  background: #fff;
  border: 1px #e5e5e5 solid;
  border-radius: 3px;
  line-height: 1;
}
/* line 59, ../scss/base/_forms.scss */
select:focus {
  outline: none;
}

/*------------------------------------*\
    #PAGE
\*------------------------------------*/
/* line 6, ../scss/base/_page.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 13, ../scss/base/_page.scss */
html, body {
  height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
}

/* line 19, ../scss/base/_page.scss */
html {
  box-sizing: border-box;
  min-height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #f5f5f5;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #333;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/*------------------------------------*\
    #CONTAINER
\*------------------------------------*/
/* line 5, ../scss/objects/_container.scss */
.container {
  max-width: 1160px;
  padding: 0 2%;
  margin: 0 auto;
}
/* line 10, ../scss/objects/_container.scss */
.container--skinny {
  max-width: 860px;
}
/* line 14, ../scss/objects/_container.scss */
.container--thin {
  max-width: 1080px;
}

/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
/* line 5, ../scss/objects/_buttons.scss */
.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 1em 1.25em;
  overflow: hidden;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  background-color: #6699cc;
  border: 0;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 1px transparent;
  transform: perspective(1px) translateZ(0);
}
/* line 23, ../scss/objects/_buttons.scss */
.btn:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #376ea4;
  transform: scaleY(0);
  transform-origin: 50% 100%;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
/* line 39, ../scss/objects/_buttons.scss */
.btn, .btn:hover, .btn:active, .btn:focus {
  text-decoration: none;
}
/* line 51, ../scss/objects/_buttons.scss */
.btn:hover:before, .btn:active:before, .btn:focus:before {
  transform: scaleY(1);
}

/* line 57, ../scss/objects/_buttons.scss */
.btn--full {
  width: 100%;
}

/* line 61, ../scss/objects/_buttons.scss */
.btn--mid {
  font-size: 0.75rem;
}
/* line 65, ../scss/objects/_buttons.scss */
.btn--mid.btn--arrow:after {
  width: 9px;
  height: 15px;
}

/* line 71, ../scss/objects/_buttons.scss */
.btn--arrow {
  position: relative;
  padding-right: 3.5em;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 79, ../scss/objects/_buttons.scss */
.btn--arrow:after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 17px;
  width: 12px;
  height: 20px;
  background: url(assets/img/button-arrow.png);
  background-size: cover;
  transition: transform 0.2s ease-in-out;
}
/* line 91, ../scss/objects/_buttons.scss */
.btn--arrow:hover:after {
  transform: translate(3px, -50%);
}

/* line 96, ../scss/objects/_buttons.scss */
.btn--hollow {
  background-color: transparent;
  border: 1px #6699cc solid;
  font-weight: 700;
  color: #6699cc;
  text-transform: uppercase;
}
/* line 103, ../scss/objects/_buttons.scss */
.btn--hollow:hover, .btn--hollow:focus, .btn--hollow:active {
  color: #fff;
}

/*------------------------------------*\
    #MEDIA
\*------------------------------------*/
/* line 5, ../scss/objects/_media.scss */
.media {
  display: block;
}

/* line 11, ../scss/objects/_media.scss */
.media__img {
  float: left;
  margin-right: 20px;
}
/* line 16, ../scss/objects/_media.scss */
.media__img > img {
  display: block;
}

/* line 21, ../scss/objects/_media.scss */
.media__body {
  overflow: hidden;
  display: block;
}
/* line 26, ../scss/objects/_media.scss */
.media__body,
.media__body > :last-child {
  margin-bottom: 0;
}

/* line 35, ../scss/objects/_media.scss */
.media--rev > .media__img {
  float: right;
  margin-right: 0 !important;
  margin-left: 20px;
}

/* line 45, ../scss/objects/_media.scss */
.media--large > .media__img {
  margin-right: 40px;
}

/*
.media,
%media{
  display: flex;
  align-items: start;
}

  .media__img,
  %media__img {
    margin-right: 20px;

    > img {
      display: block;
    }
  }

  .media__body,
  %media__body {
    flex: 1;

    &,
    > :last-child {
      margin-bottom: 0;
    }
  }


.media--rev{
  flex-direction: row-reverse;
}


.media--large{
  
  > .media__img{
    margin-right: 40px;
  }
}
*/
/*------------------------------------*\
    #FLAG
\*------------------------------------*/
/* line 7, ../scss/objects/_flag.scss */
.flag {
  display: table;
  width: 100%;
}
/* line 11, ../scss/objects/_flag.scss */
.flag__img, .flag__body {
  display: table-cell;
  vertical-align: middle;
}
/* line 16, ../scss/objects/_flag.scss */
.flag__img {
  padding-right: 10px;
}
/* line 19, ../scss/objects/_flag.scss */
.flag__img > img {
  display: block;
  max-width: none;
}
/* line 25, ../scss/objects/_flag.scss */
.flag__body {
  width: 100%;
}
/* line 28, ../scss/objects/_flag.scss */
.flag__body, .flag__body > :last-child {
  margin-bottom: 0;
}

/*------------------------------------*\
   #BOX
\*------------------------------------*/
/**
 * Simple boxed content
 */
/* line 10, ../scss/objects/_box.scss */
.box {
  padding: 20px;
  margin-bottom: 20px;
  background: #f5f5f5;
  border: 1px #e5e5e5 solid;
}
/* line 17, ../scss/objects/_box.scss */
.box > :last-child {
  margin-bottom: 0;
}

/*------------------------------------*\
    #IMAGE CUT IN
    Ordinary content page where the
    3/4 content column cuts into the
    banner image.
\*------------------------------------*/
/* line 8, ../scss/objects/_image-cut-in.scss */
.image-cut-in {
  text-align: right;
}
/* line 11, ../scss/objects/_image-cut-in.scss */
.image-cut-in__content {
  display: inline-block;
  padding: 2vw;
  margin-top: 0.5em;
  text-align: left;
  background: #f5f5f5;
}
@media screen and (min-width: 500px) {
  /* line 11, ../scss/objects/_image-cut-in.scss */
  .image-cut-in__content {
    width: 75%;
    margin-top: -12.5vw;
  }
}
/* line 24, ../scss/objects/_image-cut-in.scss */
.image-cut-in__heading {
  margin: 0 0 0.25em;
  font-size: 1.75rem;
  line-height: 1;
  font-weight: 700;
  color: #6699cc;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}
@media screen and (min-width: 500px) {
  /* line 24, ../scss/objects/_image-cut-in.scss */
  .image-cut-in__heading {
    font-size: 4rem;
  }
}
@media screen and (min-width: 801px) {
  /* line 24, ../scss/objects/_image-cut-in.scss */
  .image-cut-in__heading {
    font-size: 6rem;
  }
}
@media screen and (min-width: 1025px) {
  /* line 24, ../scss/objects/_image-cut-in.scss */
  .image-cut-in__heading {
    font-size: 8rem;
  }
}
@media screen and (min-width: 500px) {
  /* line 46, ../scss/objects/_image-cut-in.scss */
  .image-cut-in__body {
    width: 75%;
  }
}

/*------------------------------------*\
    #PRODUCT LIST
    List of boxed products or
    categories
\*------------------------------------*/
/* line 9, ../scss/objects/_product-list.scss */
.product-list__product {
  margin-bottom: 5px;
}

/*------------------------------------*\
    #PRODUCT CARD
    White boxed product card with
    image, title and pricing
\*------------------------------------*/
/* line 7, ../scss/objects/_product-card.scss */
.product-card {
  position: relative;
  display: block;
  background: #fff;
}
/* line 13, ../scss/objects/_product-card.scss */
.product-card:hover, .product-card:focus, .product-card:active {
  text-decoration: none;
}
/* line 19, ../scss/objects/_product-card.scss */
.product-card__img {
  position: relative;
}
/* line 23, ../scss/objects/_product-card.scss */
.product-card__img:before {
  content: '';
  display: block;
  padding-top: 80%;
}
@media screen and (min-width: 1025px) {
  /* line 23, ../scss/objects/_product-card.scss */
  .product-card__img:before {
    padding-top: 85%;
  }
}
/* line 34, ../scss/objects/_product-card.scss */
.product-card__img > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  max-width: 90%;
  max-height: 90%;
}
/* line 44, ../scss/objects/_product-card.scss */
.product-card__details {
  font-size: 0.75rem;
  color: #333;
}
@media screen and (min-width: 500px) {
  /* line 44, ../scss/objects/_product-card.scss */
  .product-card__details {
    padding: 1em 1.5em;
    font-size: 0.875rem;
  }
}
/* line 54, ../scss/objects/_product-card.scss */
.product-card:hover .product-card__details {
  color: #6699cc;
}
/* line 58, ../scss/objects/_product-card.scss */
.product-card__title {
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 65, ../scss/objects/_product-card.scss */
.product-card__price {
  display: block;
  font-size: 1.125em;
  font-weight: 700;
}

/*------------------------------------*\
    #ICONS
\*------------------------------------*/
/* line 5, ../scss/objects/_icons.scss */
.location-pin {
  display: block;
  width: 20px;
  height: 25px;
  line-height: 22px;
  text-align: center;
  background: url(assets/img/location-pin.png);
  color: #fff;
  font-size: 11px;
  font-weight: 700;
}

/**
 * Social icons
 */
/* line 21, ../scss/objects/_icons.scss */
.social-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.5;
}
/* line 33, ../scss/objects/_icons.scss */
.social-icon:hover {
  opacity: 1;
}
/* line 37, ../scss/objects/_icons.scss */
.social-icon + .social-icon {
  margin-left: 20px;
}

/* line 43, ../scss/objects/_icons.scss */
.icon--facebook {
  background-image: url(assets/img/icons/facebook.svg);
}

/* line 47, ../scss/objects/_icons.scss */
.icon--twitter {
  background-image: url(assets/img/icons/twitter.svg);
}

/* line 51, ../scss/objects/_icons.scss */
.icon--instagram {
  background-image: url(assets/img/icons/instagram.svg);
}

/* line 55, ../scss/objects/_icons.scss */
.icon--linkedin {
  background-image: url(assets/img/icons/linkedin.svg);
}

/* line 59, ../scss/objects/_icons.scss */
.icon--rss {
  background-image: url(assets/img/icons/rss.svg);
}

/*------------------------------------*\
    #HEADER
\*------------------------------------*/
/* line 5, ../scss/components/_header.scss */
.header {
  position: relative;
  z-index: 20;
  background: #192e4b;
  color: #fff;
}

/**
 * Site logo
 */
/* line 16, ../scss/components/_header.scss */
.site-logo {
  display: block;
  margin-top: 2px;
}
@media screen and (max-width: 800px) {
  /* line 16, ../scss/components/_header.scss */
  .site-logo {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
  }
}
@media screen and (min-width: 801px) {
  /* line 16, ../scss/components/_header.scss */
  .site-logo {
    float: left;
    margin-right: 6%;
  }
}

/**
 * Tools bar
 */
/* line 36, ../scss/components/_header.scss */
.tools-bar {
  line-height: 32px;
  vertical-align: top;
  margin-bottom: 13px;
  text-align: right;
  font-size: 0.75rem;
  font-weight: 600;
  color: #fff;
}
@media screen and (max-width: 800px) {
  /* line 36, ../scss/components/_header.scss */
  .tools-bar {
    text-align: center;
  }
}

/**
 * Language switcher
 */
/* line 54, ../scss/components/_header.scss */
.language-switcher {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
  color: #6699cc;
}
/* line 60, ../scss/components/_header.scss */
.language-switcher__language {
  position: relative;
  margin-left: 7px;
  cursor: pointer;
}
/* line 65, ../scss/components/_header.scss */
.language-switcher__language:hover, .language-switcher__language:focus {
  text-decoration: none;
  color: #79a6d2;
}
/* line 71, ../scss/components/_header.scss */
.language-switcher__language.active {
  color: #fff;
}
/* line 76, ../scss/components/_header.scss */
.language-switcher__language:before {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-right: 4px;
  background-color: #6699cc;
  border-radius: 100%;
}
/* line 86, ../scss/components/_header.scss */
.language-switcher__language:hover:before, .language-switcher__language:focus:before {
  background-color: #79a6d2;
}
/* line 91, ../scss/components/_header.scss */
.language-switcher__language.active:before {
  background: #fff;
}
/* line 96, ../scss/components/_header.scss */
.language-switcher__language:after {
  content: '';
  display: none;
  position: absolute;
  top: 7px;
  left: 3px;
  width: 3px;
  height: 3px;
  background-color: #192e4b;
  border-radius: 100%;
}
/* line 107, ../scss/components/_header.scss */
.language-switcher__language.active:after {
  display: block;
}

/**
 * Mini-basket
 */
/* line 117, ../scss/components/_header.scss */
.mini-basket {
  display: inline-block;
}
/* line 120, ../scss/components/_header.scss */
.mini-basket__items {
  display: inline-block;
  padding-left: 26px;
  margin-right: 15px;
  background: url(assets/img/basket-icon.svg) no-repeat left 10px;
}
@media screen and (max-width: 499px) {
  /* line 120, ../scss/components/_header.scss */
  .mini-basket__items {
    display: none;
  }
}
/* line 131, ../scss/components/_header.scss */
.mini-basket__checkout-btn {
  vertical-align: top;
  height: 30px;
  padding: 0 12px;
  line-height: inherit;
}

/*------------------------------------*\
    #PARTS FINDER
\*------------------------------------*/
/**
 * Header button
 */
/* line 8, ../scss/components/_parts-finder.scss */
.parts-finder-btn {
  padding-left: 43px !important;
  background: #e31d1a url(assets/img/magnifying-glass.svg) no-repeat 16px 12px;
  color: #fff;
}
@media screen and (max-width: 600px) {
  /* line 8, ../scss/components/_parts-finder.scss */
  .parts-finder-btn {
    display: block;
  }
}
@media screen and (min-width: 1025px) {
  /* line 8, ../scss/components/_parts-finder.scss */
  .parts-finder-btn {
    float: left;
  }
}
/* line 21, ../scss/components/_parts-finder.scss */
.parts-finder-btn:hover, .parts-finder-btn:active, .parts-finder-btn:focus {
  background-color: #cc1a17;
}

/**
 * Dropdown panel
 */
/* line 32, ../scss/components/_parts-finder.scss */
.parts-finder {
  max-height: 0;
  overflow: hidden;
  background-color: #e31d1a;
  font-size: 0.75rem;
  color: #fff;
  transition: max-height 0.5s ease-in-out;
}
/* line 40, ../scss/components/_parts-finder.scss */
.parts-finder.is-visible {
  max-height: 220px;
}

/* line 45, ../scss/components/_parts-finder.scss */
.parts-finder-form {
  padding: 1.5em 0;
}
/* line 48, ../scss/components/_parts-finder.scss */
.parts-finder-form__label, .parts-finder-form__select {
  font-size: 0.75rem;
}
/* line 52, ../scss/components/_parts-finder.scss */
.parts-finder-form__label {
  font-weight: 700;
}
/* line 56, ../scss/components/_parts-finder.scss */
.parts-finder-form__select {
  width: 200px;
  margin-bottom: 10px;
}

/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/
/**
 * Nav bar
 */
/* line 8, ../scss/components/_nav.scss */
.nav {
  overflow: hidden;
  font-size: 0.75rem;
  text-align: center;
}
@media screen and (min-width: 801px) {
  /* line 8, ../scss/components/_nav.scss */
  .nav {
    text-align: right;
  }
}
/* line 17, ../scss/components/_nav.scss */
.nav ul {
  display: inline-block;
  margin: 0;
  list-style: none;
}
/* line 23, ../scss/components/_nav.scss */
.nav li {
  display: inline-block;
}
/* line 26, ../scss/components/_nav.scss */
.nav li > a {
  display: block;
  color: #a7c4e2;
}
/* line 32, ../scss/components/_nav.scss */
.nav a {
  padding: 14px 12px 18px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 1025px) {
  /* line 32, ../scss/components/_nav.scss */
  .nav a {
    padding-right: 22px;
    padding-left: 22px;
  }
}
/* line 43, ../scss/components/_nav.scss */
.nav a:hover, .nav a:focus {
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  /* line 52, ../scss/components/_nav.scss */
  .nav li > a {
    padding-top: 0;
    padding-bottom: 14px;
  }
}
@media screen and (min-width: 1025px) {
  /* line 61, ../scss/components/_nav.scss */
  .nav li:last-child > a {
    padding-right: 0;
  }
}

/*------------------------------------*\
    #BREADCRUMB
\*------------------------------------*/
/* line 5, ../scss/components/_breadcrumb.scss */
.breadcrumb {
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 0.625rem;
  text-transform: uppercase;
}
@media screen and (min-width: 801px) {
  /* line 5, ../scss/components/_breadcrumb.scss */
  .breadcrumb {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
/* line 16, ../scss/components/_breadcrumb.scss */
.breadcrumb__list {
  margin: 0;
  list-style: none;
}
/* line 20, ../scss/components/_breadcrumb.scss */
.breadcrumb__list > li {
  display: inline-block;
}
/* line 23, ../scss/components/_breadcrumb.scss */
.breadcrumb__list > li, .breadcrumb__list > li > a {
  color: #666666;
}
/* line 31, ../scss/components/_breadcrumb.scss */
.breadcrumb__list > li + li:before {
  content: '>';
  margin-right: 7px;
  margin-left: 6px;
}

/*------------------------------------*\
    #HERO CAROUSEL
\*------------------------------------*/
/* line 5, ../scss/components/_hero.scss */
.hero {
  position: relative;
  z-index: 10;
  max-height: 640px;
  overflow: hidden;
}
@media screen and (max-width: 499px) {
  /* line 5, ../scss/components/_hero.scss */
  .hero {
    min-height: 240px;
  }
}
/* line 15, ../scss/components/_hero.scss */
.hero__body {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 1rem;
  margin: 0 auto;
}
@media screen and (min-width: 801px) {
  /* line 15, ../scss/components/_hero.scss */
  .hero__body {
    padding-top: 1.5rem;
  }
}
@media screen and (min-width: 1025px) {
  /* line 15, ../scss/components/_hero.scss */
  .hero__body {
    padding-top: 3rem;
  }
}
@media screen and (min-width: 1160px) {
  /* line 15, ../scss/components/_hero.scss */
  .hero__body {
    padding-top: 4rem;
  }
}
/* line 37, ../scss/components/_hero.scss */
.hero__bg {
  width: 100%;
}
@media screen and (max-width: 499px) {
  /* line 37, ../scss/components/_hero.scss */
  .hero__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 180%;
    max-width: none;
  }
}
/* line 52, ../scss/components/_hero.scss */
.hero__headline {
  max-width: 50%;
  margin-bottom: 0.5em;
  font-size: 3rem;
  line-height: 0.9;
  font-weight: 700;
  color: #6699cc;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  /* line 52, ../scss/components/_hero.scss */
  .hero__headline {
    font-size: 11vw;
  }
}
@media screen and (min-width: 801px) {
  /* line 52, ../scss/components/_hero.scss */
  .hero__headline {
    max-width: 50%;
    text-align: left;
    font-size: 10vw;
  }
}
@media screen and (min-width: 1160px) {
  /* line 52, ../scss/components/_hero.scss */
  .hero__headline {
    font-size: 8rem;
  }
}
/* line 77, ../scss/components/_hero.scss */
.hero__subheading {
  display: none;
  max-width: 350px;
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 400;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
@media screen and (min-width: 801px) {
  /* line 77, ../scss/components/_hero.scss */
  .hero__subheading {
    display: block;
  }
}
/* line 92, ../scss/components/_hero.scss */
.hero__product-shot {
  position: absolute;
  top: 25%;
  right: 0;
  left: 0;
  max-width: 94%;
  margin: 0 auto 1rem;
}
@media screen and (min-width: 500px) {
  /* line 92, ../scss/components/_hero.scss */
  .hero__product-shot {
    top: 20%;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 801px) {
  /* line 92, ../scss/components/_hero.scss */
  .hero__product-shot {
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
    right: 0;
    left: 0;
  }
}
/* line 114, ../scss/components/_hero.scss */
.hero__cta-btn {
  display: block;
  max-width: 250px;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  /* line 114, ../scss/components/_hero.scss */
  .hero__cta-btn {
    font-size: 0.75rem;
  }
  /* line 124, ../scss/components/_hero.scss */
  .hero__cta-btn:after {
    width: 9px;
    height: 15px;
  }
}
@media screen and (min-width: 801px) {
  /* line 114, ../scss/components/_hero.scss */
  .hero__cta-btn {
    position: absolute;
    bottom: 0;
    left: 47.5%;
    max-width: 320px;
    text-align: left;
  }
}
@media screen and (min-width: 1025px) {
  /* line 114, ../scss/components/_hero.scss */
  .hero__cta-btn {
    max-width: 450px;
  }
}

/*------------------------------------*\
    #COLLAGE RIDER GALLERY
\*------------------------------------*/
/* line 5, ../scss/components/_rider-gallery.scss */
.rider-gallery {
  max-width: 1160px;
  margin: 0 auto 6.5rem;
  margin: 0 auto 10vw;
  list-style: none;
}
/* line 11, ../scss/components/_rider-gallery.scss */
.rider-gallery__sizer {
  width: 25%;
}
/* line 15, ../scss/components/_rider-gallery.scss */
.rider-gallery__item {
  width: 25%;
}
@media screen and (max-width: 499px) {
  /* line 15, ../scss/components/_rider-gallery.scss */
  .rider-gallery__item {
    width: 50%;
  }
}
/* line 22, ../scss/components/_rider-gallery.scss */
.rider-gallery__item--large {
  width: 50%;
}
/* line 26, ../scss/components/_rider-gallery.scss */
.rider-gallery__item > a {
  display: block;
  cursor: pointer;
}

/*------------------------------------*\
    #DEALERS LIST
\*------------------------------------*/
/* line 5, ../scss/components/_dealers-list.scss */
.dealers-map {
  height: 70vw;
  max-height: 370px;
  margin-bottom: 3vw;
}

/* line 13, ../scss/components/_dealers-list.scss */
.dealers-list__dealer {
  padding-right: 10px;
  margin-bottom: 25px;
  font-size: 0.875rem;
}
@media screen and (max-width: 400px) {
  /* line 13, ../scss/components/_dealers-list.scss */
  .dealers-list__dealer {
    width: 100%;
  }
}

/*------------------------------------*\
    #SIDEBAR
\*------------------------------------*/
@media screen and (min-width: 801px) {
  /* line 5, ../scss/components/_sidebar.scss */
  .sidebar {
    padding-right: 40px;
    padding-right: 3vw;
  }
}

/**
 * Sidebar nav
 */
/* line 18, ../scss/components/_sidebar.scss */
.sidebar-nav {
  text-transform: uppercase;
}
/* line 21, ../scss/components/_sidebar.scss */
.sidebar-nav, .sidebar-nav__heading {
  font-size: 0.75rem;
  line-height: 1.4;
  font-weight: 700;
}
/* line 27, ../scss/components/_sidebar.scss */
.sidebar-nav__heading {
  margin-bottom: 1.35em;
  color: #6699cc;
}
@media screen and (min-width: 801px) {
  /* line 32, ../scss/components/_sidebar.scss */
  .sidebar-nav__select {
    display: none;
  }
}
/* line 39, ../scss/components/_sidebar.scss */
.sidebar-nav__list {
  margin: 0;
  list-style: none;
}
@media screen and (max-width: 800px) {
  /* line 39, ../scss/components/_sidebar.scss */
  .sidebar-nav__list {
    display: none;
  }
}
/* line 48, ../scss/components/_sidebar.scss */
.sidebar-nav__list > li {
  margin-bottom: 1.35em;
}
/* line 53, ../scss/components/_sidebar.scss */
.sidebar-nav a {
  display: block;
  color: #333;
}
/* line 57, ../scss/components/_sidebar.scss */
.sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav a:active {
  color: #e31d1a;
  text-decoration: none;
}

/*------------------------------------*\
    #NEWSLETTER SIGN-UP
\*------------------------------------*/
/* line 7, ../scss/components/_newsletter-signup.scss */
.newsletter-signup fieldset, .newsletter-signup__input, .newsletter-signup__submit {
  margin-bottom: 0;
}
/* line 11, ../scss/components/_newsletter-signup.scss */
.newsletter-signup__input, .newsletter-signup__submit {
  height: 32px;
  line-height: 32px;
  padding: 0 1em;
  margin-bottom: 3px;
  border: 0;
}
@media screen and (max-width: 499px) {
  /* line 11, ../scss/components/_newsletter-signup.scss */
  .newsletter-signup__input, .newsletter-signup__submit {
    width: 49%;
  }
}
/* line 23, ../scss/components/_newsletter-signup.scss */
.newsletter-signup__input {
  background-color: #f5f5f5;
}
/* line 26, ../scss/components/_newsletter-signup.scss */
.newsletter-signup__input::placeholder {
  font-style: italic;
}
@media screen and (min-width: 500px) {
  /* line 23, ../scss/components/_newsletter-signup.scss */
  .newsletter-signup__input {
    width: 24%;
    max-width: 180px;
  }
}
/* line 36, ../scss/components/_newsletter-signup.scss */
.newsletter-signup__submit {
  padding-right: 2em;
  padding-left: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

/*------------------------------------*\
    #CHECKOUT/PAYMENT PAGE
\*------------------------------------*/
/* line 7, ../scss/components/_checkout.scss */
.scar-checkout label, .scar-checkout .text-input, .scar-checkout select, .scar-checkout .box {
  font-size: 0.875rem;
}
/* line 11, ../scss/components/_checkout.scss */
.scar-checkout select {
  height: 44px;
}
/* line 15, ../scss/components/_checkout.scss */
.scar-checkout .box {
  background: #fff;
}
/* line 20, ../scss/components/_checkout.scss */
.scar-checkout table {
  width: 100%;
}
/* line 23, ../scss/components/_checkout.scss */
.scar-checkout table th {
  background: #9a9a9a;
  color: #fff;
}
/* line 28, ../scss/components/_checkout.scss */
.scar-checkout table th, .scar-checkout table td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
}
/* line 34, ../scss/components/_checkout.scss */
.scar-checkout table h5 {
  margin-bottom: 0;
}
/* line 38, ../scss/components/_checkout.scss */
.scar-checkout table .item-options {
  margin-bottom: 10px;
  font-size: 12px;
}
/* line 43, ../scss/components/_checkout.scss */
.scar-checkout table tfoot td {
  background: #6699cc;
  color: #fff;
}

/*------------------------------------*\
    #FOOTER
\*------------------------------------*/
/* line 5, ../scss/components/_footer.scss */
.footer {
  padding: 3% 0 5%;
  margin-top: 5.75rem;
  margin-top: 7.5vw;
  background: #fff;
  font-size: 0.75rem;
}
/* line 12, ../scss/components/_footer.scss */
.footer, .footer a {
  color: #666666;
}
/* line 16, ../scss/components/_footer.scss */
.footer h3 {
  color: #6699cc;
}
/* line 20, ../scss/components/_footer.scss */
.footer .newsletter-signup {
  margin-bottom: 30px;
}
@media screen and (min-width: 801px) {
  /* line 20, ../scss/components/_footer.scss */
  .footer .newsletter-signup {
    overflow: hidden;
  }
}

/* line 29, ../scss/components/_footer.scss */
.footer__social {
  margin-bottom: 30px;
}
@media screen and (min-width: 801px) {
  /* line 29, ../scss/components/_footer.scss */
  .footer__social {
    float: right;
  }
}

/* line 37, ../scss/components/_footer.scss */
.footer__nav {
  padding-top: 5%;
  margin-top: 5%;
  border-top: 1px #9a9a9a solid;
}
@media screen and (max-width: 499px) {
  /* line 37, ../scss/components/_footer.scss */
  .footer__nav {
    display: none;
  }
}
/* line 47, ../scss/components/_footer.scss */
.footer__nav ul {
  margin: 0;
  list-style: none;
}
/* line 51, ../scss/components/_footer.scss */
.footer__nav ul li {
  display: inline-block;
}
/* line 54, ../scss/components/_footer.scss */
.footer__nav ul li + li:before {
  content: ' | ';
}

/* line 61, ../scss/components/_footer.scss */
.footer__copyright {
  margin-top: 2.5%;
}
/* line 64, ../scss/components/_footer.scss */
.footer__copyright a {
  font-weight: 700;
}

/*------------------------------------*\
    #HOMEPAGE
\*------------------------------------*/
/* line 5, ../scss/views/_home.scss */
.home-teasers {
  position: relative;
}

/* line 9, ../scss/views/_home.scss */
.home-teaser {
  position: relative;
  z-index: 11;
  padding: 2rem;
  padding-bottom: 3rem;
  background: #e5e5e5;
}
@media screen and (max-width: 499px) {
  /* line 9, ../scss/views/_home.scss */
  .home-teaser {
    text-align: center;
  }
}
@media screen and (min-width: 500px) {
  /* line 9, ../scss/views/_home.scss */
  .home-teaser {
    padding: 2.5rem;
    padding-bottom: 5rem;
  }
}
/* line 41, ../scss/views/_home.scss */
.home-teaser.-offset {
  background: #192e4b;
}
@media screen and (min-width: 801px) {
  /* line 41, ../scss/views/_home.scss */
  .home-teaser.-offset {
    margin-top: -2rem;
  }
}
@media screen and (min-width: 1025px) {
  /* line 41, ../scss/views/_home.scss */
  .home-teaser.-offset {
    margin-top: -3.75rem;
  }
}
/* line 53, ../scss/views/_home.scss */
.home-teaser__heading {
  position: relative;
  line-height: 1;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  /* line 53, ../scss/views/_home.scss */
  .home-teaser__heading {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 801px) {
  /* line 53, ../scss/views/_home.scss */
  .home-teaser__heading {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  /* line 70, ../scss/views/_home.scss */
  .home-teaser__image {
    margin-top: -1.75rem;
  }
}
@media screen and (min-width: 801px) {
  /* line 70, ../scss/views/_home.scss */
  .home-teaser__image {
    margin-top: -2.5rem;
  }
}
/* line 82, ../scss/views/_home.scss */
.home-teaser__cta-btn {
  float: right;
  margin-top: -1.5rem;
  margin-right: 1rem;
}
@media screen and (min-width: 801px) {
  /* line 82, ../scss/views/_home.scss */
  .home-teaser__cta-btn {
    margin-right: 2rem;
  }
}

/*------------------------------------*\
    #PRODUCT
\*------------------------------------*/
/**
 * Boxed image
 * Centre image in white box
 * Shared between lead image, thumbnails
 */
/* line 12, ../scss/views/_product.scss */
.product-images__lead-image, .product-images__thumbnail > a {
  position: relative;
  display: block;
  margin-bottom: 8px;
  background: #fff;
}
/* line 19, ../scss/views/_product.scss */
.product-images__lead-image:before, .product-images__thumbnail > a:before {
  content: '';
  display: block;
  padding-top: 100%;
}
/* line 26, ../scss/views/_product.scss */
.product-images__lead-image img, .product-images__thumbnail > a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  max-width: 95%;
  max-height: 95%;
}

/**
 * Product view
 */
@media screen and (max-width: 800px) {
  /* line 43, ../scss/views/_product.scss */
  .product-view__grid.grid--large {
    margin-left: -20px;
  }
  /* line 47, ../scss/views/_product.scss */
  .product-view__grid.grid--large > .grid__cell {
    padding-left: 20px;
  }
}
@media screen and (max-width: 400px) {
  /* line 55, ../scss/views/_product.scss */
  .product-view__grid > .grid__cell {
    width: 100%;
  }
}
/* line 63, ../scss/views/_product.scss */
.product-view__details hr {
  margin: 16px 0;
  border: 0;
  border-top: 1px #cccccc solid;
}
/* line 71, ../scss/views/_product.scss */
.product-view__name {
  margin-bottom: 6px;
}
@media screen and (max-width: 400px) {
  /* line 71, ../scss/views/_product.scss */
  .product-view__name {
    display: none;
  }
}
@media screen and (min-width: 401px) {
  /* line 81, ../scss/views/_product.scss */
  .product-view .product-phone-title {
    display: none;
  }
}
/* line 88, ../scss/views/_product.scss */
.product-view__price {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.3;
}
@media screen and (min-width: 500px) {
  /* line 88, ../scss/views/_product.scss */
  .product-view__price {
    font-size: 2.25rem;
  }
}
/* line 99, ../scss/views/_product.scss */
.product-view__region-prices {
  margin-bottom: 15px;
  font-size: 0.75rem;
  font-style: italic;
}
/* line 106, ../scss/views/_product.scss */
.product-view__variations {
  margin-bottom: 8px;
  font-size: 0.875rem;
  font-weight: 700;
}
@media screen and (min-width: 701px) {
  /* line 106, ../scss/views/_product.scss */
  .product-view__variations {
    margin-bottom: 12px;
    line-height: 30px;
  }
}
/* line 116, ../scss/views/_product.scss */
.product-view__variation {
  overflow: hidden;
}
/* line 119, ../scss/views/_product.scss */
.product-view__variation > select {
  width: 100%;
  margin-bottom: 12px;
  line-height: normal;
}
@media screen and (min-width: 701px) {
  /* line 119, ../scss/views/_product.scss */
  .product-view__variation > select {
    float: right;
    max-width: 220px;
  }
}
@media screen and (min-width: 801px) {
  /* line 119, ../scss/views/_product.scss */
  .product-view__variation > select {
    max-width: 270px;
  }
}
/* line 136, ../scss/views/_product.scss */
.product-view__add-to-cart-btn {
  margin-bottom: 10px;
}
@media screen and (min-width: 801px) {
  /* line 136, ../scss/views/_product.scss */
  .product-view__add-to-cart-btn {
    margin-bottom: 20px;
  }
}
/* line 145, ../scss/views/_product.scss */
.product-view__description {
  font-size: 0.875rem;
  color: #666666;
}
/* line 149, ../scss/views/_product.scss */
.product-view__description strong {
  color: #333;
}
/* line 153, ../scss/views/_product.scss */
.product-view__description li {
  font-weight: 600;
}

/**
 * Related items
 */
/* line 165, ../scss/views/_product.scss */
.related-item {
  margin-bottom: 20px;
}

/**
 * Product gallery
 */
/* line 179, ../scss/views/_product.scss */
.product-images__thumbnails {
  margin: 0 0 0 -8px;
  list-style: none;
  font-size: 0;
}
/* line 184, ../scss/views/_product.scss */
.product-images__thumbnail {
  display: inline-block;
  width: 25%;
  padding-left: 8px;
}
/* line 189, ../scss/views/_product.scss */
.product-images__thumbnail > a {
  border: 2px transparent solid;
}
/* line 193, ../scss/views/_product.scss */
.product-images__thumbnail > a:hover, .product-images__thumbnail > a:active, .product-images__thumbnail > a:focus, .product-images__thumbnail > a.active {
  border-color: #6699cc;
}

/**
 * Featherlight тАУ ultra slim jQuery lightbox
 * Version 1.6.1 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2016, No├лl Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
  /* line 9, ../scss/vendor/_featherlight.scss */
  .featherlight {
    display: none;
    /* dimensions: spanning the background from edge to edge */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647;
    /* z-index needs to be >= elements on the site. */
    /* position: centering content */
    text-align: center;
    /* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
    white-space: nowrap;
    /* styling */
    cursor: pointer;
    background: #333;
    /* IE8 "hack" for nested featherlights */
    background: transparent;
  }

  /* support for nested featherlights. Does not work in IE8 (use JS to fix) */
  /* line 31, ../scss/vendor/_featherlight.scss */
  .featherlight:last-of-type {
    background: rgba(0, 0, 0, 0.8);
    background: rgba(245, 245, 245, 0.9);
  }

  /* line 36, ../scss/vendor/_featherlight.scss */
  .featherlight:before {
    /* position: trick to center content vertically */
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }

  /* line 45, ../scss/vendor/_featherlight.scss */
  .featherlight .featherlight-content {
    /* make content container for positioned elements (close button) */
    position: relative;
    /* position: centering vertical and horizontal */
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    /* dimensions: cut off images */
    overflow: auto;
    padding: 0;
    border-bottom: 0;
    /* dimensions: handling large content */
    margin-left: 5%;
    margin-right: 5%;
    max-height: 95%;
    /* styling */
    cursor: auto;
    /* reset white-space wrapping */
    white-space: normal;
  }

  /* contains the content */
  /* line 73, ../scss/vendor/_featherlight.scss */
  .featherlight .featherlight-inner {
    /* make sure its visible */
    display: block;
  }

  /* line 78, ../scss/vendor/_featherlight.scss */
  .featherlight .featherlight-close-icon {
    /* position: centering vertical and horizontal */
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    /* dimensions: 25px x 25px */
    line-height: 25px;
    width: 25px;
    /* styling */
    cursor: pointer;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    background: transparent;
    /* Set the background in case it overlaps the content */
    color: #666666;
    border: none;
    padding: 0;
  }

  /* See http://stackoverflow.com/questions/16077341/how-to-reset-all-default-styles-of-the-html5-button-element */
  /* line 101, ../scss/vendor/_featherlight.scss */
  .featherlight .featherlight-close-icon::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  /* line 106, ../scss/vendor/_featherlight.scss */
  .featherlight .featherlight-image {
    /* styling */
    width: 100%;
  }

  /* line 112, ../scss/vendor/_featherlight.scss */
  .featherlight-iframe .featherlight-content {
    /* removed the border for image croping since iframe is edge to edge */
    border-bottom: 0;
    padding: 0;
  }

  /* line 118, ../scss/vendor/_featherlight.scss */
  .featherlight iframe {
    /* styling */
    border: none;
  }

  /* line 123, ../scss/vendor/_featherlight.scss */
  .featherlight * {
    /* See https://github.com/noelboss/featherlight/issues/42 */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 129, ../scss/vendor/_featherlight.scss */
  .featherlight-caption {
    margin-bottom: 15px;
    font-size: 0.875rem;
    font-weight: 700;
    color: #666666;
    text-transform: uppercase;
  }
}
/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
  /* line 140, ../scss/vendor/_featherlight.scss */
  .featherlight .featherlight-content {
    /* dimensions: maximize lightbox with for small screens */
    margin-left: 10px;
    margin-right: 10px;
    max-height: 98%;
    padding: 10px 10px 0;
    border-bottom: 10px solid transparent;
  }
}
/*------------------------------------*\
    #DISPLAY HELPERS
\*------------------------------------*/
/*------------------------------------*\
    #TEXT HELPERS
\*------------------------------------*/
/* line 5, ../scss/utilities/_text-helpers.scss */
.text-primary {
  color: #e31d1a;
}

/* line 6, ../scss/utilities/_text-helpers.scss */
.text-grey, .text-gray {
  color: #9a9a9a;
}

/* line 7, ../scss/utilities/_text-helpers.scss */
.text-light {
  color: #e5e5e5;
}

/* line 8, ../scss/utilities/_text-helpers.scss */
.text-body {
  color: #333;
}

/* line 9, ../scss/utilities/_text-helpers.scss */
.text-white {
  color: #fff;
}

/* line 11, ../scss/utilities/_text-helpers.scss */
.text-center {
  text-align: center;
}

/* line 12, ../scss/utilities/_text-helpers.scss */
.text-left {
  text-align: left;
}

/* line 13, ../scss/utilities/_text-helpers.scss */
.text-right {
  text-align: right;
}

/* line 15, ../scss/utilities/_text-helpers.scss */
.uppercase {
  text-transform: uppercase;
}
