@import 'icons';
h1,h2,h3,h4,h5,h6{
  font-family: $base-font;
  margin: 0 0 10px;
}
h1, .alpha {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 300;
  text-transform: uppercase;
}
h1, .alpha, h2, .beta, h3, .gamma, h4, .delta, h5, .epsilon, h6, .zeta {
  margin-bottom: 0.75em;
}
h3, .gamma {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 300;
}
h5, .epsilon {
  font-size: 0.875rem;
  line-height: 1.75;
}
html,
body{
  padding: 0;
  margin: 0;
  max-height: 100%;
  font-family: $base-font;
  overflow-x: hidden;
}
*{
  &,
  &:before,
  &:after{
    box-sizing: inherit;
  }
}
html, body{
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
}
html{
  box-sizing: border-box;
  min-height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: $c-off-white;
  font-family: $base-font;
  font-size: ($base-font-size / 16px) * 1em;
  line-height: $base-line-height / $base-font-size;
  color: $c-text;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
p{
  margin: 0 0 10px;
}
img, svg {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
}
ul, ol, dd {
  padding: 0;
  margin-left: 1.5em;
}
fieldset{
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
input, select, textarea, button{
  &, &:focus{
    outline: none;
  }
}
label{
  display: block;
  margin-bottom: 4px;
}
.text-input, textarea, select{
  width: 100%;
  padding: 1em;
  margin-bottom: 20px;
  border: 0;
}
textarea{
  min-height: 250px;
}
select{
  // appearance: none;
  height: 30px;
  padding: 6px 10px;
  background: #fff;
  border: 1px $c-light solid;
  border-radius: 3px;
  line-height: 1;
  &:focus{
    outline: none;
  }
}
.page{
  overflow: hidden;
}
a{
  //color: $c-black;
  text-decoration: none;
  &:hover{
    //color: $c-secondary;
  }
}
.centeredBlock{
  max-width: $containerWidth;
  margin: 0 auto;
  width: 100%;
  &:after{
    content:'';
    clear: both;
    display: block;
  }
}
.col2-left-layout .row{
  @extend .centeredBlock;
}
.main-content{
  position: relative;
  z-index: 1;
}
.row{
  &:after{
    content:'';
    clear: both;
    display: block;
  }
}
.messages,
.validation-advice{
  color: $c-orange;

}
.messages{
  text-align: center;
  list-style:none;
  ul{
    list-style:none;
  }
}
.grid {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -20px;
  font-size: 0;
}
.grid__cell {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  vertical-align: top;
  font-size: 1rem;
}
.grid--center {
  text-align: center;
}
.grid--center > .grid__cell {
  text-align: left;
}
.grid--flush {
  margin-left: 0;
}
.grid--flush > .grid__cell {
  padding-left: 0;
}
.grid--tiny {
  margin-left: -5px;
}
.grid--tiny > .grid__cell {
  padding-left: 5px;
}
.grid--large {
  margin-left: -40px;
}
.grid--large > .grid__cell {
  padding-left: 40px;
}
.grid--auto > .grid__cell {
  width: auto;
}
$flag-gutter: 10px;
.flag{
  display: table;
  width: 100%;
  &__img, &__body{
    display: table-cell;
    vertical-align: middle;
  }
  &__img{
    padding-right: $flag-gutter;
    > img{
      display: block;
      max-width: none;
    }
  }
  &__body{
    width: 100%;
    &, > :last-child{
      margin-bottom: 0;
    }
  }
}