<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Blog
 * @version    tip
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?>
<nav class="sidebar-nav">
    <h1 class="sidebar-nav__heading">
        <?php echo Mage::getStoreConfig('blog/blog/title'); ?>
    </h1>
    <select class="sidebar-nav__select">
        <?php foreach ($this->getYears() as $year) : ?>
        <optgroup label="<?php echo $year; ?>">
            <?php foreach ($this->getPosts($year) as $post) : ?>
                <option value="<?php echo "post_{$post['post_id']}" ?>"><?php echo $post['title']; ?></option>
            <?php endforeach; ?>
        </optgroup>
        <?php endforeach; ?>
    </select>
    <ul class="sidebar-nav__list">
        <?php foreach ($this->getYears() as $year) : ?>
            <li>
                <div class="scar-year" data-year="yearID-<?php echo $year; ?>"><h5><?php echo $year; ?></h5></div>
                <div id="yearID-<?php echo $year; ?>" class="blog-drop">
                    <ul>
                        <?php foreach ($this->getPosts($year) as $post) : ?>
                            <li>
                                <div class="post-clickable" id="<?php echo "post_{$post['post_id']}" ?>">
                                    <?php echo $post['title']; ?>
                                </div>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                </div>
            </li>
        <?php endforeach; ?>
    </ul>
</nav>

<script type="text/javascript">
    function updatePostsSuccess(data) {
        jQuery("#scar-content").html(data.content);
        jQuery("#scar-title").text(data.title);
        jQuery("#scar-time").text(data.time);

        if (data.img == "") {
            jQuery("#div-img").css('display', 'none')
        } else {
            jQuery("#div-img").css('display', 'block')
            jQuery("#scar-img").attr('src', data.img);
        }
    }
    jQuery(document).ready(function () {
        jQuery('.post-clickable').on('click', function (event) {
            jQuery.ajax({
                url: "<?php echo $this->getUrl('brosolscar/ajax/index') ?>",
                type: "POST",
                dataType: "json",
                data: {
                    "id": jQuery(event.target).attr('id')
                },
                success: function (data) {
                    updatePostsSuccess(data);
                }
            });
        });
        jQuery('.sidebar-nav__select').on('change', function () {
            jQuery.ajax({
                url: "<?php echo $this->getUrl('brosolscar/ajax/index') ?>",
                type: "POST",
                dataType: "json",
                data: {
                    "id": jQuery(this).val()
                },
                success: function (data) {
                    updatePostsSuccess(data);
                }
            });
        });
    });
</script>