<?php $post = $this->getLatestPost(); ?>
<?php if (!empty($post)) : ?>
    <div>
        <h1 id="scar-title"><?php echo $post->getTitle(); ?></h1>
        <p id="scar-time">
            <strong><?php echo Mage::getModel('core/date')->date('d.m.Y', $post->getCreatedTime()); ?></strong>
        </p>
        <p id="scar-content"><?php echo $post->getPostContent(); ?></p>
        <?php if ($post->getPostImage()) : ?>
            <div id="div-img" style="display: block" >
                <img id="scar-img" src="<?php echo $post->getAbsoluteImgUrl(); ?>" alt="SCar" title="SCar">
            </div>
        <?php else : ?>
            <div id="div-img" style="display: none" >
                <img id="scar-img" src="" alt="SCar" title="SCar">
            </div>
        <?php endif;?>
    </div>
<?php else: ?>
    <h2>Empty</h2>
<?php endif;?>