<?php
/**
 * Attribute files control
 *
 * @see BroSolutions_Estimates_Block_Adminhtml_Estimates_Edit_Renderer_Shipping
 * @var $this BroSolutions_Estimates_Block_Adminhtml_Estimates_Edit_Renderer_Shipping
 */
?>
<?php
    $helper = Mage::helper('downloads');
    
    $name = $this->getElement()->getName();
    $value = $this->getElement()->getValue();
    
    if(is_array($value)){
        $rowsData = $value;
    }
    else{
        $rowsData = unserialize($value);
    }
    
    if(!is_array($rowsData)){
        $rowsData = array();
    }
    $counter = 1;
?>
<tr>
    <td class="label"><?php echo $this->getElement()->getLabel() ?></td>
    <td class="grid">
        <table id="attribute_files_table" class="dynamic-grid" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th><?php echo $this->__("File label"); ?></th>
                    <th><?php echo $this->__("File"); ?></th>
                    <th style="width: 250px"><?php echo $this->__("Link"); ?></th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            <?php if(!empty($rowsData)): ?>
                <?php foreach($rowsData as $data): ?>
                    <tr class="files-row" id="files_row_<?php echo $counter; ?>">
                        <td>
                            <input style="width: 250px" type="text" id="<?php echo $name; ?>_<?php echo $counter; ?>_label" name="<?php echo $name; ?>[<?php echo $counter; ?>][label]" class="input" value="<?php echo $data['label'] ?>" />
                        </td>
                        <td>
                            <input style="width: 250px" type="file" id="<?php echo $name; ?>_<?php echo $counter; ?>_src" name="<?php echo $name; ?>[<?php echo $counter; ?>][file]" class="input-file" value="<?php echo $data['src'] ?>" />
                            <input name="<?php echo $name; ?>[<?php echo $counter; ?>][src]" value="<?php echo $data['src'] ?>" type="hidden" />
                        </td>
                        <td>
                            <?php $fileArr = explode('/', $data['src']); ?>
                            <?php $fileName = array_pop($fileArr); ?>
                            <?php $link = $helper->getImageUrl($data['src']); ?>
                            <a href="<?php echo $link; ?>" title="<?php echo $data['label'] ?>" target="_blank"><?php echo $fileName; ?></a>
                        </td>
                        <td>
                            <button id="btn_delete_<?php echo $counter; ?>" title="Delete" type="button" class="scalable delete delete-files" onclick="removeFilesRow(<?php echo $counter; ?>);">
                                <span>
                                    <span>
                                        <span>Delete</span>
                                    </span>
                                </span>
                            </button>
                        </td>
                    </tr>
                    <tr class="files-empty-row" id="files_empty_row_<?php echo $counter; ?>">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <?php $counter++; ?>
                <?php endforeach; ?>
            <?php else: ?>
                <tr class="files-row" id="files_row_<?php echo $counter; ?>">
                    <td>
                        <input style="width: 250px" type="text" id="<?php echo $name; ?>_<?php echo $counter; ?>_label" name="<?php echo $name; ?>[<?php echo $counter; ?>][label]" class="input" value="" />
                    </td>
                    <td>
                        <input style="width: 250px" type="file" id="<?php echo $name; ?>_<?php echo $counter; ?>_src" name="<?php echo $name; ?>[<?php echo $counter; ?>][file]" class="input-file" value="" />
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <button id="btn_delete_<?php echo $counter; ?>" title="Delete" type="button" class="scalable delete delete-files" onclick="removeFilesRow(<?php echo $counter; ?>);">
                            <span>
                                <span>
                                    <span>Delete</span>
                                </span>
                            </span>
                        </button>
                    </td>
                </tr>
                <tr class="files-empty-row" id="files_empty_row_<?php echo $counter; ?>">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <?php $counter++; ?>
            <?php endif; ?>
            </tbody>
            <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><?php echo $this->getAddNewButtonHtml(); ?></td>
                </tr>
            </tfoot>
        </table>
    </td>
</tr>

<style type="text/css">
    #add_new_file_button,
    .delete-files{
        width: 100%;
    }
</style>


<script type="text/javascript">
//<![CDATA[
    var filesCounter = <?php echo $counter; ?>;
    var htmlFilesRow = '<tr class="files-row" id="files_row_{{id}}">'+
                    '<td>'+
                        '<input style="width: 250px" type="text" id="<?php echo $name; ?>_{{id}}_label" name="<?php echo $name; ?>[{{id}}][label]" class="input" value="" />'+
                    '</td>'+
                    '<td>'+
                        '<input style="width: 250px" type="file" id="<?php echo $name; ?>_{{id}}_src" name="<?php echo $name; ?>[{{id}}][file]" class="input-file" value="" />'+
                    '</td>'+
                    '<td>&nbsp;</td>'+
                    '<td>'+
                        '<button id="btn_delete_{{id}}" title="Delete" type="button" class="scalable delete delete-files" onclick="removeFilesRow({{id}});">'+
                            '<span>'+
                                '<span>'+
                                    '<span>Delete</span>'+
                                '</span>'+
                            '</span>'+
                        '</button>'+
                    '</td>'+
                '</tr>'+
                '<tr class="files-empty-row" id="files_empty_row_{{id}}"><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>';
    
    $('add_new_file_button').observe('click', function(){
        console.log('test');
        $('attribute_files_table').insert(htmlFilesRow.replace(/\{\{id\}\}/ig, filesCounter));
        filesCounter++;
    });
    
    function removeFilesRow(id)
    {
        $('files_row_' + id).remove();
        $('files_empty_row_' + id).remove();
    }
//]]>
</script>