/*------------------------------------*\
    #FORMS
\*------------------------------------*/

/**
 * Fieldset
 */
fieldset{
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}


/**
 * Standardise styling (targeting Safari)
 */
input, select, textarea, button{
  &, &:focus{
    outline: none;
  }
}


/**
 * Labels
 */
label{
  display: block;
  margin-bottom: 4px;
}



/**
 * Text input, textarea, select
 */
.text-input, textarea, select{
  width: 100%;
  padding: 1em;
  margin-bottom: 20px;
  border: 0;
}

textarea{
  min-height: 250px;
}

select{
  // appearance: none;
  height: 30px;
  padding: 6px 10px;
  background: #fff;
  border: 1px $c-light solid;
  border-radius: 3px;
  line-height: 1;
  
  &:focus{
    outline: none;
  }
}