/*------------------------------------*\
    #PAGE
\*------------------------------------*/

*{
  &,
  &:before,
  &:after{
    box-sizing: inherit;
  }
}

html, body{
  height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
}

html{
  box-sizing: border-box;
  min-height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: $c-body-bg;
  font-family: $base-font;
  font-size: ($base-font-size / 16px) * 1em;
  line-height: $base-line-height / $base-font-size;
  color: $c-text;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}