/*------------------------------------*\
    #RESET
\*------------------------------------*/

/**
 * Remove default spacing
 */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr{
  margin:  0;
  padding: 0;
}


/**
 * Remove default table spacing
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}