/*------------------------------------*\
    #STANDARDIZE
\*------------------------------------*/

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre{
  margin-top: 0;
  margin-bottom: 1.5em;
}


ul, ol, dd{
  padding: 0;
  margin-left: 1.5em;
}