/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/**
 * Heading styles
 */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta{
  margin-bottom: 0.75em;
}

h1, .alpha{
  // margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 300;
  text-transform: uppercase;
}
h2, .beta{
  // margin-bottom: 0;
  font-size: 3rem;
  line-height: 1.0833;
  font-weight: 400;
}
h3, .gamma{
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 300;
}
h4, .delta{
  // margin-bottom: 0;
  font-size: 1rem;
  line-height: 1;
}
h5, .epsilon{
  // margin-bottom: 0;
  font-size: 0.875rem;
  line-height: 1.75;
}


/**
 * Small text
 */
small{
  font-size: 75%;
}


/**
 * Links
 */
a {
  text-decoration: none;
  color: $c-link;

  &:hover,
  &:active,
  &:focus{
    text-decoration: underline;
  }
}


/**
 * Images
 */
img, svg{
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
}

img[width],
img[height]{
  max-width: none;
}