<?php
/**
 * 
 * 
 * @var BroSolutions_Downloads_Block_Downloadscategorylist
 * @see BroSolutions_Downloads_Block_Downloadscategorylist
 */
?>
<?php
    $categories = $this->getCategoryList();
    $helper = Mage::helper('downloads');
?>
    <div class="category-products block-content">
        <?php if($categories->count()): ?>
        <ul class="product-list  grid grid--tiny">
            <?php foreach($categories as $category): ?>
            <li class="product-list__product  1/2 1/3--handheld 1/4--lap-and-up grid__cell">
                <?php $link = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . 'downloads/index/category/id/' . $category->getId(); ?>
                <a class="product-card" href="<?php echo $link; ?>" title="<?php echo $category->getName(); ?>">
                    <?php $src = $helper->getImageUrl($category->getImage()); ?>
                    <div class="product-card__img">
                        <img src="<?php echo $src; ?>" alt="<?php echo $category->getName(); ?>" />
                    </div>
                    <div class="product-card__details" data-equal-height-element="" style="height: 96px;">
                        <button class="btn btn--full btn--hollow" onclick="setLocation(<?php echo $link; ?>);"><?php echo $category->getName(); ?></button>
                    </div>
                </a>
            </li>
            <?php endforeach; ?>
        </ul>
        <?php endif; ?>
    </div>
