<?php
/**
 *
 *
 * @var BroSolutions_Downloads_Block_Downloadsitemlist
 * @see BroSolutions_Downloads_Block_Downloadsitemlist
 */
?>
<?php
$category = $this->getCategory();
$categoryItems = $this->getCategoryItems();
$helper = Mage::helper('downloads');
?>
<div class="block downloads-category-item-list">
    <div class="block-title">
        <strong><span><?php echo $category->getName(); ?></span></strong>
    </div>
    <div class="category-products">
        <?php if ($categoryItems->count()): ?>
            <ul class="product-list grid grid--tiny" id="products-list">
                <?php foreach ($categoryItems as $item): ?>
                    <li class="item product-list__product  1/2 1/3--handheld-and-up grid__cell">
                        <div class="product-card">
                            <?php $srcImage = $helper->getImageUrl($item->getImage()); ?>
                            <div class="product-card__img">
                                <img src="<?php echo $srcImage; ?>" alt="<?php echo $item->getName(); ?>"/>
                            </div>
                            <div class="product-card__details">
                                <h2 class="product-card__title"><?php echo $item->getName(); ?></h2>
                            <?php
                            $downloadFiles = unserialize($item->getFiles());
                            if (!is_array($downloadFiles)) {
                                $downloadFiles = array();
                            }
                            ?>
                            <?php if (!empty($downloadFiles)): ?>
                                <ul class="category-item-links">
                                    <?php foreach ($downloadFiles as $file): ?>
                                        <?php $link = $helper->getImageUrl($file['src']); ?>
                                        <li class="category-item-link">
                                            <a href="<?php echo $link; ?>" title="<?php echo $file['label']; ?>" target="_blank"><?php echo $file['label']; ?></a>
                                        </li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                            </div>
                        </div>
                    </li>
                <?php endforeach; ?>
            </ul>
        <?php endif; ?>
    </div>
</div>