<?php
/**
 * 
 * 
 * @var BroSolutions_Downloads_Block_Downloadscategorylist
 * @see BroSolutions_Downloads_Block_Downloadscategorylist
 */
?>
<?php
    $downloadcategory = $this->getCategory();
    $categories = $this->getCategoryList();
?>
<nav class="sidebar-nav">
    <h1 class="sidebar-nav__heading"><?php echo ($downloadcategory->getId()) ? $downloadcategory->getName() : $this->__('Downloads'); ?></h1>

    <?php if($categories->count()): ?>
        <select class="sidebar-nav__select" id="select-cat-url">
            <option value="#"><?php echo $this->__('Select category...') ?></option>
            <?php foreach($categories as $category): ?>
                <?php if($downloadcategory->getId() == $category->getId()) continue; ?>
                <?php $link = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . 'downloads/index/category/id/' . $category->getId(); ?>
                <option value="<?php echo $link; ?>" title="<?php echo $category->getName(); ?>"><?php echo $category->getName(); ?></option>
            <?php endforeach; ?>
        </select>
        <ul class="sidebar-nav__list">
            <?php foreach($categories as $category): ?>
                <?php if($downloadcategory->getId() == $category->getId()) continue; ?>
                <li>
                    <?php $link = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . 'downloads/index/category/id/' . $category->getId(); ?>
                    <a href="<?php echo $link; ?>" title="<?php echo $category->getName(); ?>"><?php echo $category->getName(); ?></a>
                </li>
            <?php endforeach; ?>
        </ul>
    <?php endif; ?>
</nav>
<script type="text/javascript">
    jQuery(function(){
        jQuery('#select-cat-url').on('change', function () {
            var url = jQuery(this).val();
            if (url) {
                window.location = url;
            }
            return false;
        });
    });
</script>
