.blog-index-list,
.blog-post-view,
.blog-cat-view{
  .postWrapper{
    .row{
      overflow: hidden;
      margin-bottom: 10px;
    }
    .blog-col{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      &.col-blog-image-left{
        padding-right: 20px;
      }
      &.col-blog-image-right{
        padding-left: 20px;
      }
    }

    img{
      width: 100%;
      display: block;
      height: auto;
    }
    .aw-blog-read-more{
      display: none;
    }
    .postTitle{

    }
    a{
      color: $c-black;
      &:hover{
        color: $c-primary;
      }
    }
  }
  .main{
    .std{
      &.portfolio{
        .blog-col-image{
          position: relative;
          overflow: hidden;
          margin-bottom: -19px;
          .blog-image-holder{
            position: relative;
          }
          img{
            position: relative;
            z-index: 1;
          }
          .portfolio-absolute-image{
            position: absolute;
            width: 73.6%;
            top: 10%;
            left: 13.2%;
            z-index: 0;
          }
        }
      }
    }
  }
  .post-image-box{
    margin-bottom: 20px;
    img{
      max-width: 100%;
      width: auto;
      height: auto;
    }
  }
  .toolbar{
    a{
      color: $c-black;
    }
  }
}
.blog-index-list{
  .postWrapper{
    margin-bottom:1px solid $c-primary;
    margin-bottom: 30px;
  }
}