/*------------------------------------*\
    #SHOPPING CART
    This is a bit of a messy file
    because the checkout markup is
    set by Magento so the CSS fits
    around that. Not ideal but hey ho
\*------------------------------------*/

.cart{

  .row{
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    border-top: 1px darken($c-light, 10%) solid;
  }
}

// 'Proceed to checkout' button
.cart .checkout-types{
  margin: 0 0 1em;
  list-style: none;

  .btn-checkout{
    @extend .btn;
    @extend .btn--mid;
    @extend .btn--arrow;
  }
}

// Messages
.cart .messages{
  margin-bottom: 1em !important;

  &, ul{
    margin: 0;
    list-style: none;
  }

  > li{
    padding: 1em;
    background: $c-light;
    border: 1px darken($c-light, 15%) solid;
    color: $c-dark;
    font-weight: 700;
  }
}


/**
 * Cart table
 */
.cart-table{
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  a{
    color: $c-secondary;
  }
  thead th{
    padding: 8px;
    text-align: left;
    background-color: $c-primary;
    color: #fff;
    font-size: 0.8rem;

    // Product image thumbnail
    &:first-child{
      @include av-mq(thumb){
        display: none;
      }
    }
  }

  tbody td{
    vertical-align: top;
    padding: 15px 8px;

    // Product image thumbnail
    &:first-child{
      @include av-mq(thumb){
        display: none;
      }
    }

    // Product details column
    &:nth-child(2){
      width: 70%;

      @include av-mq(lap-and-up){
        width: 45%;
      }
    }
  }

  // Hide/show some columns dependant on resolution
  .mobile-td-hide{
    @include av-mq(pocket){
      display: none;
    }
  }
  .hide-for-desktop{
    @include av-mq(lap-and-up){
      display: none;
    }
  }

  .product-image{
    display: block;
    width: 70px;
    border: 1px $c-light solid;
  }

  h2.product-name{
    font-size: 1.25rem;
    font-weight: 700;
  }

  dl.item-options{
    font-size: 0.75rem;

    dt, dd{
      // display: inline-block;
    }

    dt{
      display: inline-block;
      font-weight: 700;

      &:after{
        content: ':';
      }
    }

    dd{
      display: inline;
      margin: 0;

      // Line-break after each item
      &:after{
        content: '';
        display: block;
      }
    }
  }

  .btn-remove{
    display: inline-block;
    font-size: 0.75rem;
    line-height: 1.3;
    text-align: center;
    color: $c-grey;
  }

  tfoot{
    text-align: center;
    td{
      border-top: 1px darken($c-light, 10%) solid;
    }
  }

  .btn-continue, .btn-empty, .btn-update{
    @extend .btn;
    //@extend .btn--neutral;
    @extend .btn--mid;
    margin-top: 1rem;
    background-color:$c-grey1;
    &:before{
      background-color: $c-grey - 15;
    }
  }
}


.discount, .shipping{
  h2{
    font-size: 1.25rem;
  }
}