.cart{
  @extend .centeredBlock;
  >form{
    color: $c-black;
  }
  ul{
    padding: 0;
    list-style:none;
    margin: 0 0 20px;
  }
  #shopping-cart-table{
    width: 100%;
    margin-bottom: 30px;
    border-collapse: collapse;
    th{
      text-align: center;
      width: 20%;
      padding: 10px 0;
      border-bottom: 1px solid $c-black;
      &:first-child {
        width: 10%;
        &+th{
          text-align: left;
        }
      }
    }
    td{
      text-align: left;
      padding: 20px 10px;
      border-bottom: 1px solid $c-black;
      &.a-right,
      &.a-center{
        text-align: center;
      }
    }
    .product-name{
      text-shadow: none;
      a{
        color: $c-secondary;
      }
    }
    .item-options{
      font-size: 0;
      dd,
      dt{
        display: inline-block;
        vertical-align: top;
        max-width: 50%;
        width: 100%;
        margin:0 0 10px;
        font-size: 16px;
      }
      dt{
        font-weight: bold;
      }
    }
  }
  .cart-collaterals{
    overflow: hidden;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .discount-form{
    .input-box{
      margin-bottom: 20px;
      input{
        height: 45px;
        padding: 5px 10px;
        max-width: 400px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
    }
  }
  .cart-bottom{
    margin: 0 0 20px;
    .cart-bottom__col{
      padding: 0 20px !important;
    }
    .tar{
      text-align: right;
    }
    #shopping-cart-totals-table{
      display: inline-block;
      vertical-align: top;
    }
  }
}
#onestepcheckout-form,
.checkout{
  @extend .centeredBlock;
  .step-title{
    .number{
      display: inline-block;
      vertical-align: top;
      font-size: 24px;
    }
    h2{
      display: inline-block;
      vertical-align: top;
      margin-bottom: 0;
    }
    a{
      display: none;
    }
  }
  .section{
    border: 1px solid $c-white;
    padding: 20px;
    color: $c-white;
    &.active{
      .step-title{
        border-bottom: 1px solid $c-grey-dark;
        margin-bottom: 20px;
      }
    }
    button{
      border: 2px solid $c-orange;
    }
    a{
      color: $c-white;
    }
  }
  #opc-login{

  }
  #checkoutSteps{

  }
  ul{
    list-style:none;
    padding: 0;
    margin: 0 0 30px;
    li{
      margin-bottom: 5px;
      overflow: hidden;
    }
  }

  form{
    fieldset{
      border: none;
      padding: 0;
    }
  }
  label{
    display: inline-block;
    margin-bottom: 10px;
  }
  select,
  input[type="text"],
  input[type="email"],
  input[type="password"]{
    height: 45px;
    width: 100%;
    display: block;
    padding: 5px 20px;
    border: 1px solid $c-black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  a{
     color: $c-white;
   }
  .f-right{
    float: right;
  }
  #co-billing-form{
    .col-lg-6{
      padding: 0 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  .data-table{
    width: 100%;
    margin-bottom: 40px;
    tbody{
      tr{
        td{
          border-bottom: 1px solid $c-black;
        }
      }
    }
  }
}
table.onestepcheckout-summary{
  .bottom-before-totals {
    background: $c-white;
    + tr + tr,
    + tr {
      >td:first-child + td{
        text-align: right !important;
      }
    }
  }
}
.opc-wrapper-opc{
  background: $c-white;
  padding: 20px 15px;
  ul{
    list-style:none;
    margin: 0 0 30px;
    padding: 0;
  }

  input{
    &.radio,
    &.checkbox{
      float: left !important;
      margin-right: 5px !important;
    }
  }
  #co-payment-form{
    dt{
      width: 100%;
    }
    dd{
      margin-left: 0;
      ul{
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
      }
    }
  }
  .payment-block dt,
  .review-menu-block a.review-total,
  .btn-checkout,
  .opc-login-trigger{
    @extend .button;
    background: $c-secondary !important;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    &.open,
    &.active,
    :hover{
      background:darken($c-secondary, 17%) !important;
      background-color: darken($c-secondary, 17%);
      i,
      span{
        background: none !important;
      }
    }
    i:hover,
    span:hover{
      background: none !important;
    }
    >.price{
      padding: 10px 8px 10px 0;
    }
    i.dd-arrow{
      margin-top: 6px;
    }

  }
  .review-menu-block .polygon{
    border-top-color:  darken($c-secondary, 17%) !important;
  }
}
.opc-index-index{
  .footer{
    margin-top: 0!important;
  }
}