/*------------------------------------*\
    #BREADCRUMB
\*------------------------------------*/

.breadcrumb{
  padding-top: $base-line-height * 0.75;
  padding-bottom: $base-line-height * 0.75;
  font-size: 0.625rem;
  text-transform: uppercase;

  @include av-mq(lap-and-up){
    padding-top: $base-line-height;
    padding-bottom: $base-line-height;
  }

  &__list{
    margin: 0;
    list-style: none;

    > li{
      display: inline-block;

      &, > a{
        color: lighten($c-text, 20%);
      }

      a{
        &:hover{
          color: lighten($c-text, 20%) !important;
          text-decoration: underline;
        }
      }
      & + li:before{
        content: '>';
        margin-right: 7px;
        margin-left: 6px;
      }
    }
  }
}
.product-list{
  &__product{
    margin-bottom: 5px !important;
  }
}
.product-card,
%product-card{
  position: relative;
  display: block;
  background: #fff;

  &:hover,
  &:focus,
  &:active{
    text-decoration: none;
  }

  &__img{
    position: relative;
    display: block;

    // Pseudo element to maintain aspect ratio
    &:before{
      content: '';
      display: block;
      padding-top: 80%;

      @include av-mq(desk){
        padding-top: 85%;
      }
    }

    // The image itself, positioned in the centre of X- and Y-axis
    > img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      max-width: 90%;
      max-height: 90%;
    }
  }

  &__details{
    // margin: 0.5em;
    font-size: 0.75rem;
    display: block;
    color: $c-text;
    padding: 0.75em;
    @include av-mq(handheld-and-up){
      padding: 1em 1.5em;
      font-size: 0.875rem;
    }
  }
  &:hover &__details{
    color: $c-secondary;
  }

  &__title{
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__price{
    display: block;
    font-size: 1.125em;
    font-weight: 700;
  }
}
.toolbar{
  ul{
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style:none;
    li{
      display: inline-block;
      padding: 3px;
      margin: 0 5px;
    }
  }
  .pages{
    ul{
      //display: inline-block;
      li{
        a:hover,
        &.current{
          color: $c-secondary;
        }
      }
    }
    overflow: hidden;
    text-align: center;
  }
}
.sidebar{
  @include av-mq(lap-and-up){
    padding-right: 40px;
    padding-right: 3vw;
  }
}
.sidebar-nav{
  text-transform: uppercase;
  &, &__heading{
    font-size: 0.75rem;
    line-height: 1.4;
    font-weight: 700;
  }
  &__heading{
    margin-bottom: 1.35em;
    color: $c-secondary;
  }
  &__select{
    @include av-mq(lap-and-up){
      display: none;
    }
  }
  &__list{
    @include av-mq(pocket){
      display: none;
    }
    margin: 0;
    list-style: none;
    ul{
      list-style: none;
      margin: 5px 0 10px 10px;
      >li{
        margin-bottom: 7px;
      }
    }

    > li{
      margin-bottom: 1.35em;
      .blog-drop{
        display: none;
      }
      &:first-child{
        .blog-drop{
          display: block;
        }
      }
    }
  }
  a{
    display: block;
    color: $c-text;
    &:hover,
    &:focus,
    &:active{
      color: $c-primary;
      text-decoration: none;
    }
  }
  .scar-year{
    cursor: pointer;
  }
}
.category-item-links{
  list-style:none;
  padding: 0;
  margin: 0 0 20px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  li{
    display: inline-block;
    vertical-align: top;
  }
}
.search-title{
  display: none;
}
.customsearch-index-result .search-title{
  display: block;
  margin-top: 30px;
}