/*------------------------------------*\
    #CHECKOUT/PAYMENT PAGE
\*------------------------------------*/

.scar-checkout{

  label, .text-input, .input-text, select, .box{
    font-size: 0.875rem;
  }

  select{
    height: 44px;
  }

  .box{
    background: $c-white;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid $c-light;
  }

  // Basket table
  table{
    width: 100%;
    border-collapse:collapse;
    th{
      background: $c-grey;
      color: #fff;
    }

    th, td{
      padding: 8px;
      text-align: left;
      vertical-align: top;
    }

    h5{
      margin-bottom: 0;
    }

    .item-options{
      margin-bottom: 10px;
      font-size: 12px;
    }

    tfoot td{
      background: $c-secondary;
      color: #fff;
    }
  }
  .sp-methods{
    margin: 0;
    dd{
      margin-left: 0;
    }
    input[type="checkbox"],
    input[type="radio"]{
      display: inline-block;
      vertical-align: top;
      margin-top: 5px;
      margin-left: 0;
    }
    label{
      display: inline-block;
      vertical-align: top;
      .price{
        font-weight: bold;
      }
    }
  }
  ul{
    padding: 0;
    margin: 0 0 10px;
    list-style:none;
  }
  .payment-block{
    dd{
      margin: 0;
    }
  }
  .btn{
    font-size: 16px;
  }
  
  .hidden{
    display:none !important;
  }
}

/** CUSTOMER OPC MESSAGE BLOCK **/
.opc-message-wrapper{
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
}

.opc-messages{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding:30px;
    position:absolute;
    display:none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color:#404040;
    display: block;
    font-size: 16px;
    left: 50%;
    margin-left: -205px;
    margin-top: -20px;    
    position: absolute;    
    text-align: left;    
    top: 30%;    
    width: 410px;	
    -webkit-box-shadow: 0 3px 10px 1px rgba(0,0,0,0.2);	
    box-shadow: 0 3px 10px 1px rgba(0,0,0,0.2);	
    background-color: #fefefe;	
    font-weight:normal;
    z-index: 1002;
}

.opc-message-container{
    text-align:center; 
    overflow-x:auto; 
    overflow-y:hidden; 
}

.opc-messages-action{
    text-align:center;
    margin-top:20px;
    
    .button{
        display:block;
        height:40px;
        border:none;
        margin: 0 auto;
        background:none !important;
        padding:0;
        
        span{
            background:#00909e;
            border:none;
            height:40px;
            line-height:40px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            display: block;
            
            span{
                background:#00909e;
                color:#ffffff;
                font-size:16px;
                font-weight:bold;
                text-transform:uppercase;
                padding:0 20px;
            }
        }
        
        &:hover span,
        &:hover span span{
            background:#39b9c6;
        }
    }
}

#floatingCirclesG{position:relative;width:64px;height:64px;-moz-transform:scale(0.6);-webkit-transform:scale(0.6);-ms-transform:scale(0.6);-o-transform:scale(0.6);transform:scale(0.6);margin: 0 auto;top: 50%;}
.f_circleG{position:absolute;background-color:#FFFFFF;height:12px;width:12px;-moz-border-radius:6px;-moz-animation-name:f_fadeG;-moz-animation-duration:0.72s;-moz-animation-iteration-count:infinite;-moz-animation-direction:linear;-webkit-border-radius:6px;-webkit-animation-name:f_fadeG;-webkit-animation-duration:0.72s;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:linear;-ms-border-radius:6px;-ms-animation-name:f_fadeG;-ms-animation-duration:0.72s;-ms-animation-iteration-count:infinite;-ms-animation-direction:linear;-o-border-radius:6px;-o-animation-name:f_fadeG;-o-animation-duration:0.72s;-o-animation-iteration-count:infinite;-o-animation-direction:linear;border-radius:6px;animation-name:f_fadeG;animation-duration:0.72s;animation-iteration-count:infinite;animation-direction:linear;}
#frotateG_01{left:0;top:26px;-moz-animation-delay:0.27s;-webkit-animation-delay:0.27s;-ms-animation-delay:0.27s;-o-animation-delay:0.27s;animation-delay:0.27s;}
#frotateG_02{left:8px;top:8px;-moz-animation-delay:0.36s;-webkit-animation-delay:0.36s;-ms-animation-delay:0.36s;-o-animation-delay:0.36s;animation-delay:0.36s;}
#frotateG_03{left:26px;top:0;-moz-animation-delay:0.45s;-webkit-animation-delay:0.45s;-ms-animation-delay:0.45s;-o-animation-delay:0.45s;animation-delay:0.45s;}
#frotateG_04{right:8px;top:8px;-moz-animation-delay:0.54s;-webkit-animation-delay:0.54s;-ms-animation-delay:0.54s;-o-animation-delay:0.54s;animation-delay:0.54s;}
#frotateG_05{right:0;top:26px;-moz-animation-delay:0.63s;-webkit-animation-delay:0.63s;-ms-animation-delay:0.63s;-o-animation-delay:0.63s;animation-delay:0.63s;}
#frotateG_06{right:8px;bottom:8px;-moz-animation-delay:0.72s;-webkit-animation-delay:0.72s;-ms-animation-delay:0.72s;-o-animation-delay:0.72s;animation-delay:0.72s;}
#frotateG_07{left:26px;bottom:0;-moz-animation-delay:0.81s;-webkit-animation-delay:0.81s;-ms-animation-delay:0.81s;-o-animation-delay:0.81s;animation-delay:0.81s;}
#frotateG_08{left:8px;bottom:8px;-moz-animation-delay:0.9s;-webkit-animation-delay:0.9s;-ms-animation-delay:0.9s;-o-animation-delay:0.9s;animation-delay:0.9s;}
@-moz-keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}
@-webkit-keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}
@-ms-keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}
@-o-keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}
@keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}

.opc-ajax-loader{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    display:none;
    z-index: 10000 !important;
}

.close-message-wrapper {
    background: transparent;
    display: block;
    height: 8px;
    position: absolute;
    width: 8px;
    z-index: 1005;
    right: 18px;
    top: 10px;
    cursor:pointer;
    color:#4a4a4a;
    line-height:10px;
}

.checkout-onepage-success{
  .col-main{
    margin-top: 25px;
  }
}