/*------------------------------------*\
    #IMAGE CUT IN
    Ordinary content page where the
    3/4 content column cuts into the
    banner image.
\*------------------------------------*/
.image-cut-in{
  text-align: right;
  &__content{
    display: inline-block;
    padding: 2vw;
    margin-top: 0.5em;
    text-align: left;
    background: $c-off-white;
    @include av-mq(handheld-and-up){
      width: 75%;
      margin-top: -12.5vw;
    }
  }

  &__heading{
    margin: 0 0 0.25em;
    font-size: 1.75rem;
    line-height: 1;
    font-weight: 700;
    color: $c-secondary;
    text-transform: uppercase;
    letter-spacing: -0.05em;

    @include av-mq(handheld-and-up){
      font-size: 4rem;
    }

    @include av-mq(lap-and-up){
      font-size: 6rem;
    }

    @include av-mq(desk){
      font-size: 8rem;
    }
  }

  &__body{
    @include av-mq(handheld-and-up){
      width: 75%;
    }
  }
}