.full-screen-slider{
  //position: absolute;
  overflow: hidden;
  width: 100%;
  height: 70vh;
  top: 0;
  left: 0;
  z-index: 1;
  .swiper-wrapper,
  .slick-track,
  .slick-list{
    height: 100%;
  }
  .item{
    position: relative;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 100%;
  }
  .text-block{
    @include positionCenter;
    @extend .centeredBlock;
    max-width: 880px !important;
    width: 100%;
    color: $c-white;
  }
  .swiper-pagination-bullets{
    bottom: 100px;
    .swiper-pagination-bullet{
      @include c-bg-rgba($c-white, 0.7);
      width: 13px;
      height: 13px;
      margin: 0 10px;
      opacity: 1;
      &:hover,
      &.swiper-pagination-bullet-active{
        @include c-bg-rgba($c-white, 0.9);
      }
    }
  }
  .go-to-bottom{
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    z-index: 1;
    width: 100%;
    max-width: 550px;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity:0;
    @include transition(opacity, 0.3s);
    &:before,
    &:after{
      content:'';
      position: absolute;
      width: 100%;
      top: 12px;
      max-width: calc(50% - 15px);
      display: block;
      height: 6px;
      @include c-bg-rgba($c-white, 0.7);
    }
    &:before{
      left: 0;
      -webkit-border-radius: 3px 0px 0px 3px;
      -moz-border-radius: 3px 0px 0px 3px;
      border-radius: 3px 0px 0px 3px;
    }
    &:after{
      right: 0;
      -webkit-border-radius: 0 3px 3px 0;
      -moz-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0;
    }
    span{
      display: inline-block;
      //background: url('../images/arrow-down-white.png') 0 0 no-repeat;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
    &.show{
      opacity: 1;
    }
  }
}