.account-create,
.account-page{
  @extend .centeredBlock;
  margin-bottom: 40px;
  ul{
    margin: 0 0 20px;
    list-style: none;
    padding: 0;
    li{
      padding: 0;
      margin: 0 0 10px;
    }
  }
  h1,h2,h3,h4,h5,h6{
    text-shadow: none;
  }

}
.acc-col{
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  label{
    text-align: left;
    display: block;
  }
}
.my-account{
  h1,h2,h3,h4,h5,h6{
    text-shadow: none;
  }
  .limiter{
    line-height: 45px;
    margin-bottom: 30px;
    label{
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      margin-bottom: 0 !important;
    }
    select{
      max-width: 100px;
      display: inline-block !important;
      margin-right: 10px;
      margin-bottom: 0 !important;
      vertical-align: middle;
    }
  }
}
body[class*="downloadable-customer-"],
body[class*="newsletter-manage-"],
body[class*="oauth-customer-token-"],
body[class*="wishlist-index-"],
body[class*="tag-customer"],
body[class*="review-customer-"],
body[class*="sales-recurring-"],
body[class*="sales-billing-"],
body[class*="sales-order-"],
body[class*="customer-address-"],
body[class*="customer-account-"]{
  .main{
    margin-bottom: 40px;
    color: $c-black;
    >.row{
      background: $c-white;
      border: 1px solid $c-black;
    }
    .col-left,
    .col-main{
      padding: 30px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    select,
    input[type="text"],
    input[type="email"],
    input[type="password"]{
      height: 45px;
      width: 100%;
      display: block;
      padding: 5px 20px;
      border: 1px solid $c-black;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-bottom: 10px;
    }
    input{
      &.radio,
      &.checkbox{
        float: left !important;
        margin-right: 5px !important;
      }
    }
    .data-table{
      width: 100%;
      margin-bottom: 40px;
      tbody{
        tr{
          td{
            border-bottom: 1px solid $c-black;
            width: calc(100% / 6);
            padding: 10px;
            text-align: center;
          }
        }
      }
    }
    .form-list{
      list-style: none;
      margin: 0 0 20px;
      padding: 0;
    }
  }
  .row{
    &.col2-set,
    &.field.name-firstname,
    &.field.name-middlename{
      margin: 0 -15px;
    }
  }

}