.dealers-map{
  height: 70vw;
  max-height: 370px;
  margin-bottom: 3vw;
}
.dealers-list{
  &__dealer{
    padding-right: 10px;
    margin-bottom: 25px;
    font-size: 0.875rem !important;
    @media screen and (max-width: 400px){
      width: 100%;
    }
  }
  a {
    text-decoration: none;
    color: $c-secondary;
  }
}