.footer{
  padding: 3% 0 5%;
  margin-top: 5.75rem;
  margin-top: 7.5vw;
  background: #fff;
  font-size: 0.75rem;
  &, a{
    color: lighten($c-dark, 20%);
  }
  h3{
    color: $c-secondary;
  }
  .newsletter-signup{
    margin-bottom: 30px;
    @include av-mq(lap-and-up){
      overflow: hidden;
    }
  }
}
.footer__social{
  margin-bottom: 30px;
  @include av-mq(lap-and-up){
    float: right;
  }
}
.footer__nav{
  @include av-mq(thumb){
    display: none;
  }
  padding-top: 5%;
  margin-top: 5%;
  border-top: 1px $c-grey solid;
  ul{
    margin: 0;
    list-style: none;
    li{
      display: inline-block;
      & + li:before{
        content: ' | ';
      }
    }
  }
}
.footer__copyright{
  margin-top: 2.5%;
  a{
    font-weight: 700;
  }
}
.newsletter-signup{

  fieldset, &__input, &__submit{
    margin-bottom: 0;
  }

  &__input, &__submit{
    height: 32px;
    line-height: 32px;
    padding: 0 1em;
    margin-bottom: 3px;
    border: 0;

    @include av-mq(thumb){
      width: 49%;
    }
  }
  
  &__input{
    background-color: $c-off-white;

    &::placeholder{
      font-style: italic;
    }

    @include av-mq(handheld-and-up){
      //width: 24%;
      max-width: 180px;
    }
  }
  .newsletter-col{
    max-width: 183px;
  }
  &__submit{
    padding-right: 2em;
    padding-left: 2em;
    font-weight: 700;
    text-transform: uppercase;
  }
}