.header{
  position: relative;
  z-index: 20;
  background: $c-tertiary;
  color: #fff;
  overflow: hidden;
}
.site-logo{
  display: block;
  margin-top: 2px;
  h1{
    margin: 0;
  }
  @include av-mq(pocket){
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
  }

  @include av-mq(lap-and-up){
    float: left;
    margin-right: 6%;
  }
  a{
    display: block;
    line-height: 0;
  }
}
.tools-bar{
  line-height: 32px;
  vertical-align: top;
  margin-bottom: 13px;
  text-align: right;
  font-size: 0.75rem;
  font-weight: 600;
  color: #fff;

  @include av-mq(pocket){
    text-align: center;
  }
}
.language-switcher{
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
  color: $c-secondary;
  input[type='radio']{
    display: inline-block;
    vertical-align: middle;
    margin: 0 1px 0 4px;
  }
  label{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
  }
  &__language{
    position: relative;
    margin-left: 7px;
    cursor: pointer;

    &:hover,
    &:focus{
      text-decoration: none;
      color: lighten($c-secondary, 5%);
    }

    &.active{
      color: #fff;
    }
    &:before{
      content: '';
      display: inline-block;
      width: 9px;
      height: 9px;
      margin-right: 4px;
      background-color: $c-secondary;
      border-radius: 100%;
    }

    &:hover:before,
    &:focus:before{
      background-color: lighten($c-secondary, 5%);
    }

    &.active:before{
      background: #fff;
    }
    &:after{
      content: '';
      display: none;
      position: absolute;
      top: 7px;
      left: 3px;
      width: 3px;
      height: 3px;
      background-color: $c-tertiary;
      border-radius: 100%;
    }
    &.active:after{
      display: block;
    }
  }
}

.mini-basket{
  display: inline-block;

  &__items{
    display: inline-block;
    padding-left: 26px;
    margin-right: 15px;
    background: url(../images/basket-icon.svg) no-repeat left 10px;

    @include av-mq(thumb){
      display: none;
    }
  }

  &__checkout-btn{
    vertical-align: top;
    height: 30px;
    padding: 0 12px;
    line-height: inherit;
    &:hover{
      color: $c-white;
    }
  }
}

.nav{
  font-size: 0.75rem;
  text-align: center; // positioning of elements
  &:after{
    content:'';
    clear: both;
    display: block;
  }
  .nav-container{
    display: inline-block;
  }
  @include av-mq(lap-and-up){
    text-align: right;
  }

  ul{
    display: inline-block;
    margin: 0;
    list-style: none;
  }

  li{
    display: inline-block;

    > a{
      display: block;
      color: lighten($c-secondary, 17%);
    }
  }

  a{
    padding: 14px 12px 18px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;

    @include av-mq(desk){
      padding-right: 22px;
      padding-left: 22px;
    }

    &:hover,
    &:focus{
      color: #fff;
      text-decoration: none;
    }
  }

  // At this breakpoint, the Parts Finder becomes display: block
  @media screen and (max-width: 600px){
    li > a{
      padding-top: 0;
      padding-bottom: 14px;
    }
  }

  // On desktop, Parts Finder moves to the middle
  // so remove right padding from final nav item
  @include av-mq(desk){
    li:last-child > a{
      padding-right: 0;
    }
  }
  #nav{
    >li{
      position: relative;
      >ul{
        position: absolute;
        background: $c-white;
        padding: 20px;
        top: 100%;
        width: 300px;
        right: 0;
        display: none;
        li{
          display: block;
        }
      }
      &:hover{
        >ul{
          display: block;
        }
      }
    }
  }
}

.parts-finder-btn{
   padding-left: 43px !important;
   background: $c-primary url(../images/magnifying-glass.svg) no-repeat 16px 12px;
   color: #fff;

   @media screen and (max-width: 600px){
     display: block;
   }

   @include av-mq(desk){
     float: left;
   }

   &:hover,
   &:active,
   &:focus{
     background-color: darken($c-primary, 5%);
   }
 }
.parts-finder{
  max-height: 0;
  background-color: $c-primary;
  overflow: hidden;
  font-size: 0.75rem;
  color: #fff;
  transition: max-height 0.5s ease-in-out;

  &.is-visible{
    max-height: 270px;
  }
  .btn--hollow{
    color: #fff;
    text-transform: uppercase;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    background: $c-secondary;
  }
}

.parts-finder-form{
  padding: 1.5em 0;

  &__label, &__select{
    font-size: 0.75rem;
  }

  &__label{
    font-weight: 700;
  }

  &__select{
    width: 200px;
    margin-bottom: 10px;
  }
}