$boxed-image-gutter: 8px;
%boxed-image{
  position: relative;
  display: block;
  margin-bottom: $boxed-image-gutter;
  background: #fff;
  // Pseudo element to maintain aspect ratio
  &:before{
    content: '';
    display: block;
    padding-top: 100%;
  }
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    max-width: 95%;
    max-height: 95%;
  }
}
.product-view{
  &__grid.grid--large{
    @include av-mq(pocket){
      margin-left: -($av-gutter);
      > .grid__cell{
        padding-left: $av-gutter;
      }
    }
  }
  @media screen and (max-width: 400px){
    &__grid > .grid__cell{
      width: 100%;
    }
  }
  &__details{
    hr{
      margin: 16px 0;
      border: 0;
      border-top: 1px darken($c-light, 10%) solid;
    }
  }
  &__name{
    margin-bottom: 6px;
    @media screen and (max-width: 400px){
      display: none;
    }
  }
  @media screen and (min-width: 401px){
    .product-phone-title{
      display: none;
    }
  }
  &__price{
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.3;
    @include av-mq(handheld-and-up){
      font-size: 2.25rem;
    }
  }
  &__region-prices{
    margin-bottom: 15px;
    font-size: 0.75rem;
    font-style: italic;
  }
  &__variations{
    margin-bottom: 8px;
    font-size: 0.875rem;
    font-weight: 700;
    @media screen and (min-width: 701px){
      margin-bottom: 12px;
      line-height: 30px; // matches height of standard select box
    }
  }
  &__variation{
    overflow: hidden;
    >input,
    > select{
      width: 100%;
      margin-bottom: 12px;
      height: 30px;
      line-height: normal;
      padding: 6px 10px;
      @media screen and (min-width: 701px){
        float: right;
        max-width: 220px;
      }
      @include av-mq(lap-and-up){
        max-width: 270px;
      }
    }
  }
  &__add-to-cart-btn{
    margin-bottom: 10px;
    font-size: 1rem;
    @include av-mq(lap-and-up){
      margin-bottom: 20px;
    }
  }
  &__description{
    font-size: 0.875rem;
    color: lighten($c-text, 20%);
    strong{
      color: $c-text;
    }
    li{
      font-weight: 600;
    }
  }
}
.related-items{
}
.related-item{
  margin-bottom: 20px;
}
.product-images{
  &__lead-image{
    @extend %boxed-image;
    .gallery-image{
      display: none;
      &.visible{
        display: block;
      }
    }
  }
  &__thumbnails{
    margin: 0 0 0 (-$boxed-image-gutter);
    list-style: none;
    font-size: 0;
  }
  &__thumbnail{
    display: inline-block;
    width: 25%;
    padding-left: $boxed-image-gutter;
    > a{
      @extend %boxed-image;
      border: 2px transparent solid;
      &:hover,
      &:active,
      &:focus,
      &.active{
        border-color: $c-secondary;
      }
    }
  }
}