/*------------------------------------*\
    #BREADCRUMB
\*------------------------------------*/

.breadcrumb{
  padding-top: $base-line-height * 0.75;
  padding-bottom: $base-line-height * 0.75;
  font-size: 0.625rem;
  text-transform: uppercase;

  @include av-mq(lap-and-up){
    padding-top: $base-line-height;
    padding-bottom: $base-line-height;
  }

  &__list{
    margin: 0;
    list-style: none;

    > li{
      display: inline-block;

      &, > a{
        color: lighten($c-text, 20%);
      }

      > a{

      }

      & + li:before{
        content: '>';
        margin-right: 7px;
        margin-left: 6px;
      }
    }
  }
}