/*------------------------------------*\
    #CHECKOUT/PAYMENT PAGE
\*------------------------------------*/

.scar-checkout{

  label, .text-input, select, .box{
    font-size: 0.875rem;
  }

  select{
    height: 44px;
  }

  .box{
    background: #fff;
  }

  // Basket table
  table{
    width: 100%;

    th{
      background: $c-grey;
      color: #fff;
    }

    th, td{
      padding: 8px;
      text-align: left;
      vertical-align: top;
    }

    h5{
      margin-bottom: 0;
    }

    .item-options{
      margin-bottom: 10px;
      font-size: 12px;
    }

    tfoot td{
      background: $c-secondary;
      color: #fff;
    }
  }
}