/*------------------------------------*\
    #DEALERS LIST
\*------------------------------------*/

.dealers-map{
  height: 70vw;
  max-height: 370px;
  margin-bottom: 3vw;
}

.dealers-list{

  &__dealer{
    padding-right: 10px;
    margin-bottom: 25px;
    font-size: 0.875rem;

    @media screen and (max-width: 400px){
      width: 100%;
    }
  }
}