/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.footer{
  padding: 3% 0 5%;
  margin-top: 5.75rem;
  margin-top: 7.5vw;
  background: #fff;
  font-size: 0.75rem;

  &, a{
    color: lighten($c-dark, 20%);
  }

  h3{
    color: $c-secondary;
  }

  .newsletter-signup{
    margin-bottom: 30px;

    @include av-mq(lap-and-up){
      overflow: hidden;
    }
  }
}

  .footer__social{
    margin-bottom: 30px;

    @include av-mq(lap-and-up){
      float: right;
    }
  }

  .footer__nav{

    @include av-mq(thumb){
      display: none;
    }

    padding-top: 5%;
    margin-top: 5%;
    border-top: 1px $c-grey solid;

    ul{
      margin: 0;
      list-style: none;

      li{
        display: inline-block;

        & + li:before{
          content: ' | ';
        }
      }
    }
  }

  .footer__copyright{
    margin-top: 2.5%;

    a{
      font-weight: 700;
    }
  }