/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.header{
  position: relative;
  z-index: 20;
  background: $c-tertiary;
  color: #fff;
}


/**
 * Site logo
 */
.site-logo{
  display: block;
  margin-top: 2px;

  @include av-mq(pocket){
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
  }

  @include av-mq(lap-and-up){
    float: left;
    margin-right: 6%;
  }
}


/**
 * Tools bar
 */
.tools-bar{
  line-height: 32px; // to set vertical height of all items
  vertical-align: top;
  margin-bottom: 13px;
  text-align: right; // positioning of elements
  font-size: 0.75rem;
  font-weight: 600;
  color: #fff;

  @include av-mq(pocket){
    text-align: center;
  }
}


/**
 * Language switcher
 */
.language-switcher{
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
  color: $c-secondary;

  &__language{
    position: relative;
    margin-left: 7px;
    cursor: pointer;

    &:hover,
    &:focus{
      text-decoration: none;
      color: lighten($c-secondary, 5%);
    }

    &.active{
      color: #fff;
    }

    // Circular icon
    &:before{
      content: '';
      display: inline-block;
      width: 9px;
      height: 9px;
      margin-right: 4px;
      background-color: $c-secondary;
      border-radius: 100%;
    }

    &:hover:before,
    &:focus:before{
      background-color: lighten($c-secondary, 5%);
    }

    &.active:before{
      background: #fff;
    }

    // Inner dot for circular icon
    &:after{
      content: '';
      display: none;
      position: absolute;
      top: 7px;
      left: 3px;
      width: 3px;
      height: 3px;
      background-color: $c-tertiary;
      border-radius: 100%;
    }
    &.active:after{
      display: block;
    }
  }
}


/**
 * Mini-basket
 */
.mini-basket{
  display: inline-block;

  &__items{
    display: inline-block;
    padding-left: 26px;
    margin-right: 15px;
    background: url(assets/img/basket-icon.svg) no-repeat left 10px;

    @include av-mq(thumb){
      display: none;
    }
  }

  &__checkout-btn{
    vertical-align: top;
    height: 30px;
    padding: 0 12px;
    line-height: inherit;
  }
}
