/*------------------------------------*\
    #HERO CAROUSEL
\*------------------------------------*/

.hero{
  position: relative;
  z-index: 10;
  max-height: 640px;
  overflow: hidden;

  @include av-mq(thumb){
    min-height: 240px;
  }

  &__body{
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 1rem;
    margin: 0 auto;

    @include av-mq(lap-and-up){
      padding-top: 1.5rem;
    }

    @include av-mq(desk){
      padding-top: 3rem;
    }

    @include av-mq(widescreen){
      padding-top: 4rem;
    }
  }

    &__bg{
      width: 100%;
      
      @include av-mq(thumb){
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 180%;
        max-width: none;
      }
    }

    &__headline{
      max-width: 50%;
      margin-bottom: 0.5em;
      font-size: 3rem;
      line-height: 0.9;
      font-weight: 700;
      color: $c-secondary;
      text-transform: uppercase;
      letter-spacing: -0.05em;

      @include av-mq(handheld){
        font-size: 11vw;
      }

      @include av-mq(lap-and-up){
        max-width: 50%;
        text-align: left;
        font-size: 10vw;
      }

      @include av-mq(widescreen){
        font-size: 8rem;
      }
    }

    &__subheading{
      display: none;
      max-width: 350px;
      font-size: 1rem;
      line-height: 1.7;
      font-weight: 400;
      color: $c-text;
      text-transform: uppercase;
      letter-spacing: 0.2em;

      @include av-mq(lap-and-up){
        display: block;
      }
    }

    &__product-shot{
      position: absolute;
      top: 25%;
      right: 0;
      left: 0;
      max-width: 94%;
      margin: 0 auto 1rem;

      @include av-mq(handheld-and-up){
        top: 20%;
        margin-bottom: 2rem;
      }

      @include av-mq(lap-and-up){
        position: absolute;
        top: 50%;
        transform: translateY(-45%);
        right: 0;
        left: 0;
      }
    }

    &__cta-btn{
      display: block;
      max-width: 250px;
      margin: 0 auto;

      // Copy of .btn--mid
      @include av-mq(pocket){
        font-size: 0.75rem;

        // Arrow icon
        &:after{
          width: 9px;
          height: 15px;
        }
      }

      @include av-mq(lap-and-up){
        position: absolute;
        bottom: 0;
        left: 47.5%;
        max-width: 320px;
        text-align: left;
      }

      @include av-mq(desk){
        max-width: 450px;
      }
    }
}