/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/

/**
 * Nav bar
 */
.nav{
  overflow: hidden; // make nav element take up the remaining width
  font-size: 0.75rem;
  text-align: center; // positioning of elements

  @include av-mq(lap-and-up){
    text-align: right;
  }

  ul{
    display: inline-block;
    margin: 0;
    list-style: none;
  }

    li{
      display: inline-block;

      > a{
        display: block;
        color: lighten($c-secondary, 17%);
      }
    }

      a{
        padding: 14px 12px 18px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;

        @include av-mq(desk){
          padding-right: 22px;
          padding-left: 22px;
        }

        &:hover,
        &:focus{
          color: #fff;
          text-decoration: none;
        }
      }

      // At this breakpoint, the Parts Finder becomes display: block
      @media screen and (max-width: 600px){
        li > a{
          padding-top: 0;
          padding-bottom: 14px;
        }
      }

      // On desktop, Parts Finder moves to the middle
      // so remove right padding from final nav item
      @include av-mq(desk){
        li:last-child > a{
          padding-right: 0;
        }
      }
}