/*------------------------------------*\
    #NEWSLETTER SIGN-UP
\*------------------------------------*/

.newsletter-signup{

  fieldset, &__input, &__submit{
    margin-bottom: 0;
  }

  &__input, &__submit{
    height: 32px;
    line-height: 32px;
    padding: 0 1em;
    margin-bottom: 3px;
    border: 0;

    @include av-mq(thumb){
      width: 49%;
    }
  }

  &__input{
    background-color: $c-off-white;

    &::placeholder{
      font-style: italic;
    }

    @include av-mq(handheld-and-up){
      width: 24%;
      max-width: 180px;
    }
  }

  &__submit{
    padding-right: 2em;
    padding-left: 2em;
    font-weight: 700;
    text-transform: uppercase;
  }
}