/*------------------------------------*\
    #PARTS FINDER
\*------------------------------------*/

/**
 * Header button
 */
.parts-finder-btn{
  padding-left: 43px !important;
  background: $c-primary url(assets/img/magnifying-glass.svg) no-repeat 16px 12px;
  color: #fff;

  @media screen and (max-width: 600px){
    display: block;
  }

  @include av-mq(desk){
    float: left;
  }

  &:hover,
  &:active,
  &:focus{
    background-color: darken($c-primary, 5%);
  }
}


/**
 * Dropdown panel
 */
.parts-finder{
  max-height: 0;
  overflow: hidden;
  background-color: $c-primary;
  font-size: 0.75rem;
  color: #fff;
  transition: max-height 0.5s ease-in-out;

  &.is-visible{
    max-height: 220px;
  }
}
  
  .parts-finder-form{
    padding: 1.5em 0;

    &__label, &__select{
      font-size: 0.75rem;
    }

    &__label{
      font-weight: 700;
    }

    &__select{
      width: 200px;
      margin-bottom: 10px;
    }
  }