/*------------------------------------*\
    #COLLAGE RIDER GALLERY
\*------------------------------------*/

.rider-gallery{
  max-width: $container-width;
  margin: 0 auto 6.5rem;
  margin: 0 auto 10vw;
  list-style: none;

  &__sizer{
    width: 25%;
  }

  &__item{
    width: 25%;

    @include av-mq(thumb){
      width: 50%;
    }

    &--large{
      width: 50%;
    }

    > a{
      display: block;
      cursor: pointer;
    }
  }
}