/*------------------------------------*\
    #SIDEBAR
\*------------------------------------*/

.sidebar{

  // Page grid is flush so pad sidebar
  @include av-mq(lap-and-up){
    padding-right: 40px;
    padding-right: 3vw;
  }
}


/**
 * Sidebar nav
 */
.sidebar-nav{
  text-transform: uppercase;

  &, &__heading{
    font-size: 0.75rem;
    line-height: 1.4;
    font-weight: 700;
  }

  &__heading{
    margin-bottom: 1.35em;
    color: $c-secondary;
  }

  &__select{

    @include av-mq(lap-and-up){
      display: none;
    }
  }

  &__list{
    
    @include av-mq(pocket){
      display: none;
    }

    margin: 0;
    list-style: none;

    > li{
      margin-bottom: 1.35em;
    }
  }

  a{
    display: block;
    color: $c-text;

    &:hover,
    &:focus,
    &:active{
      color: $c-primary;
      text-decoration: none;
    }
  }
}