/*------------------------------------*\
   #BOX
\*------------------------------------*/

$box-spacing:   20px;

/**
 * Simple boxed content
 */
.box{
  padding: $box-spacing;
  margin-bottom: $box-spacing;
  background: $c-off-white;
  border: 1px $c-light solid;
  // border-radius: 3px;

  > :last-child{
    margin-bottom: 0;
  }
}