/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.btn,
%btn{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 1em 1.25em;
  overflow: hidden;
  text-align: center;
  font-family: $base-font;
  line-height: normal;
  background-color: $c-secondary;
  border: 0;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); // Improve aliasing on mobile/tablet devices
  transform: perspective(1px) translateZ(0); // Improve performance on mobile/tablet devices

  // Background sweep up
  &:before{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darken($c-secondary, 17%);
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }
  
  &,
  &:hover,
  &:active,
  &:focus{
    text-decoration: none;
  }

  &:hover,
  &:active,
  &:focus{
    // background-color: darken($c-secondary, 5%);

    &:before{
      transform: scaleY(1);
    }
  }
}

.btn--full{
  width: 100%;
}

.btn--mid{
  font-size: 0.75rem;

  // Arrow icon
  &.btn--arrow:after{
    width: 9px;
    height: 15px;
  }
}

.btn--arrow{
  position: relative;
  padding-right: 3.5em;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;

  // Arrow
  &:after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 17px;
    width: 12px;
    height: 20px;
    background: url(assets/img/button-arrow.png);
    background-size: cover;
    transition: transform 0.2s ease-in-out;
  }
  &:hover:after{
    transform: translate(3px, -50%);
  }
}

.btn--hollow{
  background-color: transparent;
  border: 1px $c-secondary solid;
  font-weight: 700;
  color: $c-secondary;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active{
    color: #fff;
  }
}