/*------------------------------------*\
    #CONTAINER
\*------------------------------------*/

.container{
  max-width: $container-width;
  padding: 0 2%;
  margin: 0 auto;

  &--skinny{
    max-width: $skinny-container-width;
  }

  &--thin{
    max-width: $thin-container-width;
  }
}