/*------------------------------------*\
    #FLAG
\*------------------------------------*/

$flag-gutter: 10px;

.flag{
  display: table;
  width: 100%;

  &__img, &__body{
    display: table-cell;
    vertical-align: middle;
  }

  &__img{
    padding-right: $flag-gutter;

    > img{
      display: block;
      max-width: none;
    }
  }

  &__body{
    width: 100%;

    &, > :last-child{
      margin-bottom: 0;
    }
  }
}