/*------------------------------------*\
    #ICONS
\*------------------------------------*/

.location-pin{
  display: block;
  width: 20px;
  height: 25px;
  line-height: 22px;
  text-align: center;
  background: url(assets/img/location-pin.png);
  color: #fff;
  font-size: 11px;
  font-weight: 700;
}

/**
 * Social icons
 */

.social-icon{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.5;

  &:hover{
    opacity: 1;
  }

  & + .social-icon{
    margin-left: 20px;
  }
}


.icon--facebook{
  background-image: url(assets/img/icons/facebook.svg);
}

.icon--twitter{
  background-image: url(assets/img/icons/twitter.svg);
}

.icon--instagram{
  background-image: url(assets/img/icons/instagram.svg);
}

.icon--linkedin{
  background-image: url(assets/img/icons/linkedin.svg);
}

.icon--rss{
  background-image: url(assets/img/icons/rss.svg);
}