/*------------------------------------*\
    #MEDIA
\*------------------------------------*/

.media,
%media{
  @extend %cf;
  display: block;
}

  .media__img,
  %media__img {
    float: left;
    margin-right: 20px;

    > img {
      display: block;
    }
  }

  .media__body,
  %media__body {
    overflow: hidden;
    display: block;

    &,
    > :last-child {
      margin-bottom: 0;
    }
  }


.media--rev{
  
  > .media__img{
    float: right;
    margin-right: 0 !important;
    margin-left: 20px;
  }
}


.media--large{
  
  > .media__img{
    margin-right: 40px;
  }
}

/*
.media,
%media{
  display: flex;
  align-items: start;
}

  .media__img,
  %media__img {
    margin-right: 20px;

    > img {
      display: block;
    }
  }

  .media__body,
  %media__body {
    flex: 1;

    &,
    > :last-child {
      margin-bottom: 0;
    }
  }


.media--rev{
  flex-direction: row-reverse;
}


.media--large{
  
  > .media__img{
    margin-right: 40px;
  }
}
*/