/*------------------------------------*\
    #PRODUCT CARD
    White boxed product card with
    image, title and pricing
\*------------------------------------*/

.product-card,
%product-card{
  position: relative;
  display: block;
  background: #fff;

  &:hover,
  &:focus,
  &:active{
    text-decoration: none;
  }

  &__img{
    position: relative;

    // Pseudo element to maintain aspect ratio
    &:before{
      content: '';
      display: block;
      padding-top: 80%;

      @include av-mq(desk){
        padding-top: 85%;
      }
    }

    // The image itself, positioned in the centre of X- and Y-axis
    > img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      max-width: 90%;
      max-height: 90%;
    }
  }

  &__details{
    // margin: 0.5em;
    font-size: 0.75rem;
    color: $c-text;

    @include av-mq(handheld-and-up){
      padding: 1em 1.5em;
      font-size: 0.875rem;
    }
  }
  &:hover &__details{
    color: $c-secondary;
  }

    &__title{
      display: block;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &__price{
      display: block;
      font-size: 1.125em;
      font-weight: 700;
    }
}