/*------------------------------------*\
    #PRODUCT LIST
    List of boxed products or
    categories
\*------------------------------------*/

.product-list{

  &__product{
    margin-bottom: 5px;
  }
}