<?php /** @var Mage_Sales_Model_Quote $quote */?>
<?php /** @var Mage_Sales_Model_Quote_Item $item */?>
<?php /** @var Mage_Catalog_Model_Product $product */?>
<?php $quote = Mage::getSingleton('checkout/session')->getQuote(); ?>
<h3><?php echo $this->__('Basket'); ?></h3>
<table>
    <tr>
        <th><?php echo $this->__('Product Name'); ?></th>
        <th><?php echo $this->__('Qty'); ?></th>
        <th><?php echo $this->__('Subtotal'); ?></th>
    </tr>
    <?php foreach ($quote->getAllVisibleItems()as $item) :?>
        <?php $product = $item->getProduct();?>
        <tr>
            <td>
                <h5><?php echo $product->getName();?></h5>
                <?php if($options = $this->getCustomOptions($item)) : ?>
                    <dl class="item-options">
                        <?php foreach ($options as $option) : ?>
                            <dt><?php echo $option['label']. ':'; ?></dt>
                            <dd><?php echo $option['value']; ?></dd>
                        <?php endforeach;?>
                    </dl>
                <?php endif;?>
            </td>
            <td><?php echo $item->getQty();?></td>
            <td>
                <span class="cart-price">
                  <?php echo $quote->getStore()->formatPrice($product->getFinalPrice() * $item->getQty());?>
                </span>
            </td>
        </tr>
    <?php endforeach;?>
</table>

