<?php $item = $this->getLatestNewsItem();?>
<?php $img = $item->getPostImage() ? $item->getPostImage() : 'wysiwyg/home-teaser2.jpg'?>
<article class="home-teaser">
    <h3 class="home-teaser__heading"><?php echo $item->getTitle(); ?></h3>
    <img class="home-teaser__image" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . $img; ?>" alt="<?php echo $this->__('Motocross race') ?>">
    <a class="home-teaser__cta-btn  btn btn--mid btn--arrow" href="/insights"><?php echo $this->__('Read more'); ?></a>
</article>