<article class="home-teaser -offset">
    <h3 class="home-teaser__heading"><?php echo $this->__('Shop Scar'); ?></h3>
    <img class="home-teaser__image" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'wysiwyg/home-teaser.png'?>" alt="<?php echo $this->__('Bike parts'); ?>">

    <a class="home-teaser__cta-btn  btn btn--mid btn--arrow" href="/products"><?php echo $this->__('Shop all products'); ?></a>
</article>