<?php 
/**
 * 
 * 
 * @var BroSolutions_Riders_Block_Riderslist
 * @see BroSolutions_Riders_Block_Riderslist
 */
?>
<?php
    $helper = Mage::helper('riders');
    $riders = $this->getRiders();
?>

<?php if($riders->count()): ?>
<div class="container">
    <ul class="grid raider-grid row">
        <li class="rider-gallery__sizer" data-masonry-gallery-sizer=""></li>
    <?php foreach($riders as $rider): ?>
        <?php $imageUrl = $helper->getImageUrl($rider->getRiderImage()); ?>
        <li class="grid-item <?php echo ($rider->getType() == 'large') ? 'grid-item--width2 grid-item--height2' : ''; ?>">
            <a data-featherlight="<?php echo $imageUrl ?>" <?php echo ($rider->getLink()) ? 'href="' . $rider->getLink() . '"':''; ?>>
                <img src="<?php echo $imageUrl ?>" alt="<?php echo $rider->getTitle() ?>">
            </a>
        </li>
    <?php endforeach;?>
    </ul>
</div>
<?php endif; ?>
