<script src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
//<![CDATA[
    Stripe.setPublishableKey('<?php echo Mage::getStoreConfig('payment/stripe/api_publishable_key', Mage::app()->getStore()->getId()) ?>');
//]]>
</script>