$mq-support: true !default;
$mq-fixed-value: 1024px !default;
$av-breakpoints:  (
        "thumb":            "screen and (max-width: 499px)",
        "handheld":         "screen and (min-width: 500px) and (max-width: 800px)",
        "handheld-and-up":  "screen and (min-width: 500px)",
        "pocket":           "screen and (max-width: 800px)",
        "lap":              "screen and (min-width: 801px) and (max-width: 1024px)",
        "lap-and-up":       "screen and (min-width: 801px)",
        "portable":         "screen and (max-width: 1024px)",
        "desk":             "screen and (min-width: 1025px)",
        "widescreen":       "screen and (min-width: 1160px)",
        "retina":           "screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx)"
) !default; // Responsive breakpoints. Add/remove as appropriate
@mixin bp($feature, $value) {
  // Set global device param
  $media: only screen;

  // Media queries supported
  @if $mq-support == true {

    @media #{$media} and ($feature: $value) {
      @content;
    }

    // Media queries not supported
  } @else {

    @if $feature == 'min-width' {
      @if $value <= $mq-fixed-value {
        @content;
      }
    } @else if $feature == 'max-width' {
      @if $value >= $mq-fixed-value {
        @content;
      }
    }

  }
}
@mixin clearfix {
  content: '';
  display: table;
  clear: both;
}
/* triangle */
@mixin triangle($direction: up, $size: 5px, $color: #000000) {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;

  @if $direction == up {
    border-right: $size solid transparent;
    border-left: $size solid transparent;
    border-bottom: $size solid $color;
    border-top: none;
  }

  @if $direction == down {
    border-right: $size solid transparent;
    border-left: $size solid transparent;
    border-top: $size solid $color;
    border-bottom: none;
  }

  @if $direction == right {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    border-right: none;
  }

  @if $direction == left {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    border-left: none;
  }
}
@mixin positionCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@mixin c-bg-rgba($color, $opacity){
  background: rgba($color, $opacity);
}
@mixin transition($prop, $time){
  -webkit-transition: $prop $time ease-in-out;
  -moz-transition: $prop $time ease-in-out;
  -ms-transition: $prop $time ease-in-out;
  -o-transition: $prop $time ease-in-out;
  transition: $prop $time ease-in-out;
}
@mixin av-mq($alias){

  // Search breakpoint map for alias
  $query: map-get($av-breakpoints, $alias);

  // If alias exists, print out media query
  @if $query{
    @media #{$query}{
      @content;
    }
  } @else{
    @error "No breakpoint found for #{$alias}";
  }
}

