@media (max-width: 1200px) {
  .site-header{
    .custom_top_menu,
    .links{
      li{
        margin: 0 3px;
      }
    }
  }
}
@media (max-width: 1100px) {
  .site-header .logo{
    margin-left: 50px;
    max-width: 150px;
  }
  span#hamburger{
    display: block;
  }
  #mobile-nav{
    &.open{
      left: 0;
    }
    ul{
      padding-left: 20px;
      list-style:none;
      a{
        display: block;
        padding: 10px 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
    }
  }
  .full-screen-slider {
    height: 50vh;
  }
}
@media (min-width: 769px) {
  .hide-for-desktop,
  .hide-on-desktop{
    display: none;
  }
  .content-height-pull{
    min-height: calc(30vh - 40px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &.content-height-pull-half{
      min-height: calc(15vh - 40px)
    }
  }
}
@media (max-width: 768px) {
  .product-view{
    .full-width-cat-image{
      min-height: 300px;
    }
    .product-name,
    .price-box,
    .short-description > h2,
    .product-options-bottom,
    .product-options{
      padding: 0 35px;
    }
    .add-to-cart{
      max-width: 100%;
      .qty-box{
        width: 100%;
        max-width: 100%;
      }
    }
    .tabs{
      .tab-list{
        li{
          display: block;
          width: 100%;
        }
      }
    }
  }
  .mobile-td-hide{
    display: none;
  }
  .checkout-types,
  #shopping-cart-totals-table,
  #discount-coupon-form,{
    padding: 0 5px !important;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  #discount-coupon-form{
    font-size: 15px;
    .product-name{
      font-size: 1em;
    }
    .button{
      margin: 10px 0;
      width: 100%;
    }
    input.qty{
      display: none;
    }
    dd{
      margin-left: 5px;
      color: $c-secondary;
    }
  }
  .checkout-types{
    .button{
      width: 100%;
    }
  }
  body[class*="downloadable-customer-"],
  body[class*="newsletter-manage-"],
  body[class*="oauth-customer-token-"],
  body[class*="wishlist-index-"],
  body[class*="tag-customer"],
  body[class*="review-customer-"],
  body[class*="sales-recurring-"],
  body[class*="sales-billing-"],
  body[class*="sales-order-"],
  body[class*="customer-address-"],
  body[class*="customer-account-"]{
    .main{
      padding: 0 20px;
    }
    .sidebar{
      .block-compare,
      .block-reorder,
      .block-cart{
        display: none;
      }
    }
    .form-list{
      padding: 0;
      margin-bottom: 30px;
      list-style:none;
    }
  }
  .category-description{
    padding-left: 10px;
    padding-right: 10px;
  }
  .postWrapper{
    padding-left: 0px;
    padding-right: 0px;
    .blog-col{
      &.col-blog-image-left,
      &.col-blog-image-right{
        padding: 0;
        margin-bottom: 20px;
      }
    }
  }
  .footer{
    .form-box{
      padding: 58px 20px;
    }
  }
  .content-height-pull{
    min-height: calc(15vh - 40px);
  }
  body[class*="downloadable-customer-"],
  body[class*="downloadable-customer-"],
  body[class*="newsletter-manage-"],
  body[class*="newsletter-manage-"],
  body[class*="oauth-customer-token-"],
  body[class*="oauth-customer-token-"],
  body[class*="wishlist-index-"],
  body[class*="wishlist-index-"],
  body[class*="tag-customer"],
  body[class*="tag-customer"],
  body[class*="review-customer-"],
  body[class*="review-customer-"],
  body[class*="sales-recurring-"],
  body[class*="sales-recurring-"],
  body[class*="sales-billing-"],
  body[class*="sales-billing-"],
  body[class*="sales-order-"],
  body[class*="sales-order-"],
  body[class*="customer-address-"],
  body[class*="customer-address-"],
  body[class*="customer-account-"],
  body[class*="customer-account-"]{
    .main {
      .col-main,
      .col-left{
        padding: 30px 0;
      }
    }
  }
  .opc-wrapper-opc{
    .acc-col{
      padding-left: 0;
      padding-right: 0;
      padding: 0 15px;
    }
  }
  #my-orders-table{
    font-size: 14px;
  }
}
