/*------------------------------------*\
    #HOMEPAGE
\*------------------------------------*/

.home-teasers {
  position: relative;
}

.home-teaser {
  position: relative;
  z-index: 11;
  padding: 2rem;
  padding-bottom: 3rem;
  background: $c-light;

  @include av-mq(thumb) {
    text-align: center;
  }

  @include av-mq(handheld-and-up) {
    padding: 2.5rem;
    padding-bottom: 5rem;
  }

  // // Extended background
  // &:before{
  //   content: '';
  //   position: absolute;
  //   z-index: -1;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 200%;
  //   background: inherit;

  //   @include av-mq(thumb){
  //     display: none;
  //   }
  // }

  &.-offset {
    background: $c-tertiary;

    @include av-mq(lap-and-up) {
      margin-top: -2rem;
    }

    @include av-mq(desk) {
      margin-top: -3.75rem;
    }
  }

  &__heading {
    position: relative;
    line-height: 1;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;

    @include av-mq(handheld) {
      font-size: 1.5rem;
    }

    @include av-mq(lap-and-up) {
      font-size: 2.25rem;
    }
  }

  // Content image
  &__image {

    @include av-mq(handheld) {
      margin-top: -1.75rem;
    }

    @include av-mq(lap-and-up) {
      margin-top: -2.5rem;
    }
  }

  // Button
  &__cta-btn {
    float: right;
    margin-top: -1.5rem;
    margin-right: 1rem;

    @include av-mq(lap-and-up) {
      margin-right: 2rem;
    }
  }
}