/*------------------------------------*\
    #PRODUCT
\*------------------------------------*/

/**
 * Boxed image
 * Centre image in white box
 * Shared between lead image, thumbnails
 */
$boxed-image-gutter: 8px;

%boxed-image{
  position: relative;
  display: block;
  margin-bottom: $boxed-image-gutter;
  background: #fff;

  // Pseudo element to maintain aspect ratio
  &:before{
    content: '';
    display: block;
    padding-top: 100%;
  }

  // The image itself, positioned in the centre of X- and Y-axis
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    max-width: 95%;
    max-height: 95%;
  }
}


/**
 * Product view
 */
.product-view{

  // Utility class to alter grid gutter
  &__grid.grid--large{
    @include av-mq(pocket){
      margin-left: -($av-gutter);

      > .grid__cell{
        padding-left: $av-gutter;
      }
    }
  }

  // Utility class to stack product page < 400px
  @media screen and (max-width: 400px){
    &__grid > .grid__cell{
      width: 100%;
    }
  }

  // Wrapper
  &__details{

    hr{
      margin: 16px 0;
      border: 0;
      border-top: 1px darken($c-light, 10%) solid;
    }
  }

  // Product name
  &__name{
    margin-bottom: 6px;

    @media screen and (max-width: 400px){
      display: none;
    }
  }

  // Hacky utility title div only shown < 400px
  @media screen and (min-width: 401px){
    .product-phone-title{
      display: none;
    }
  }


  // Main big price
  &__price{
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.3;

    @include av-mq(handheld-and-up){
      font-size: 2.25rem;
    }
  }

  // Prices in other currencies
  &__region-prices{
    margin-bottom: 15px;
    font-size: 0.75rem;
    font-style: italic;
  }

  // Product variations dropdowns
  &__variations{
    margin-bottom: 8px;
    font-size: 0.875rem;
    font-weight: 700;

    @media screen and (min-width: 701px){
      margin-bottom: 12px;
      line-height: 30px; // matches height of standard select box
    }
  }
    &__variation{
      overflow: hidden;

      > select{
        width: 100%;
        margin-bottom: 12px;
        line-height: normal;

        @media screen and (min-width: 701px){
          float: right;
          max-width: 220px;
        }

        @include av-mq(lap-and-up){
          max-width: 270px;
        }
      }
    }

  // Add to cart button
  &__add-to-cart-btn{
    margin-bottom: 10px;

    @include av-mq(lap-and-up){
      margin-bottom: 20px;
    }
  }

  // Description
  &__description{
    font-size: 0.875rem;
    color: lighten($c-text, 20%);

    strong{
      color: $c-text;
    }

    li{
      font-weight: 600;
    }
  }
}

  
  /**
   * Related items
   */
  .related-items{
  }
    .related-item{
      margin-bottom: 20px;
    }


  /**
   * Product gallery
   */
  .product-images{

    &__lead-image{
      @extend %boxed-image;
    }

    &__thumbnails{
      margin: 0 0 0 (-$boxed-image-gutter);
      list-style: none;
      font-size: 0;
    }
      &__thumbnail{
        display: inline-block;
        width: 25%;
        padding-left: $boxed-image-gutter;

        > a{
          @extend %boxed-image;
          border: 2px transparent solid;

          &:hover,
          &:active,
          &:focus,
          &.active{
            border-color: $c-secondary;
          }
        }
      }
  }