<?php
/**
 * WEB4PRO - Creating profitable online stores
 *
 * @author WEB4PRO <srepin@corp.web4pro.com.ua>
 * @category  WEB4PRO
 * @package   Web4pro_Attachments
 * @copyright Copyright (c) 2015 WEB4PRO (http://www.web4pro.net)
 * @license   http://www.web4pro.net/license.txt
 */
/**
 * Attachment list template on product page
 *
 * @category    Web4pro
 * @package     Web4pro_Attachments
 * @author      WEB4PRO <srepin@corp.web4pro.com.ua>
 */

/** @see Web4pro_Attachments_Block_Catalog_Product_List_Attachment */
?>
<?php
$attachments = $this->getAttachmentCollection();
$helper = Mage::helper('web4pro_attachments/attachment');
?>
<?php if ($attachments && $attachments->count() > 0) :?>
        <?php foreach ($attachments as $_attachment) : ?>
            <a class="uppercase" href="<?php echo $_attachment->getAttachmentUrl(); ?>"><small><strong><?php echo $_attachment->getTitle()?></strong></small></a>
        <?php endforeach; ?>
    <hr>
<?php endif;?>
