<script type="text/javascript">countryRegions = <?php echo $this->helper('directory')->getRegionJson() ?></script>
<?php
echo $this->getDesignStyles();
$package = Mage::getDesign()->getPackageName();
$theme = Mage::getDesign()->getTheme('frontend');
$is_persistent = Mage::helper('opc')->isPersistentMember();
?>
<div class="opc-wrapper-opc design_package_<?php echo $package; ?> design_theme_<?php echo $theme; ?>">
    <?php echo $this->getChild('breadcrumbs'); ?>
    <h1><?php echo $this->__('PLACE YOUR ORDER') ?></h1>
    <div class="clear"></div>
    <div class="row scar-checkout" <?php if ($is_persistent): ?>style="display:none !important;"<?php endif; ?>>
        <div class="grid grid--large grid--rev">
            <div class="1/2--lap-and-up 1/3--desk grid__cell">
                <?php if (!$this->getOnepage()->getQuote()->isVirtual()): ?>
                    <div class="box">
                        <h3><?php echo $this->__('Shipping') ?></h3>
                        <?php if (Mage::helper('core')->isModuleEnabled('Shipperhq_Splitrates')): ?>
                            <p class="opc-required-msg">You must provide information for all fields marked with an (<span
                                    class="highlighted-star">*</span>)</p>
                            <button id="update-shipping-methods" type="button">Get shipping method/rates</button>
                        <?php endif; ?>
                        <div id="shipping-block-methods">
                            <?php echo $this->getChildHtml('shipping_method');?>
                        </div>
                    </div>
                <?php endif; ?>
                <div class="box">
                    <div id="opc-review-block">
                        <?php echo $this->_getReviewHtml()?>
                    </div>
                    <div class="opc-review-actions" id="checkout-review-submit">
                        <?php echo $this->getChildHtml('agreements') ?>
                        <?php echo $this->getChildHtml('opc.newsletters'); ?>
                    </div>
                </div>
            </div>
            <div class="1/2--lap-and-up 2/3--desk grid__cell">
                <form id="opc-address-form-billing" method="post">
                    <?php echo $this->getChildHtml('billing') ?>
                </form>
                <form id="opc-address-form-shipping" method="post">
                    <?php echo $this->getChildHtml('shipping') ?>
                </form>
                <?php if (Mage::helper('opc')->isShowComment()): ?>
                    <?php echo $this->getChildhtml('customer.comment'); ?>
                <?php endif; ?>
                <div class="payment-block <?php if ($this->getOnepage()->getQuote()->isVirtual()): ?>clear-margin<?php endif; ?>">
                    <h3><?php echo $this->__('Payment information') ?></h3>
                    <?php echo $this->getChildHtml('payment')//$this->_getPaymentMethodsHtml();?>
                </div>
                <?php if (Mage::getConfig()->getModuleConfig('IWD_OnepageCheckoutSignature')->is('active', 'true')): ?>
                <div class="signature-block">
                    <h3><?php echo $this->__('Signature') ?><span class='fa expand_plus'></span></h3>
                    <div class="collapse-block hidden">
                        <?php echo $this->getChildhtml('opcsignature'); ?>
                    </div>
                </div>
                <?php endif; ?>
                <button type="button" title="<?php echo $this->__('Place Order Now') ?>"
                        class="button btn-checkout opc-btn-checkout btn btn--primary btn--full btn--arrow"><?php echo $this->__('PAY '); ?><span id="pay-grand-total"><?php echo Mage::helper('opc')->getGrandTotal(); ?></span><?php echo $this->__(' NOW'); ?></button>
            </div>
        </div>
    </div>
</div>
<script>
    var vopc = '<?php echo Mage::getConfig()->getModuleConfig("IWD_Opc")->version;?>';
    IWD.OPC.Checkout.config = '<?php echo $this->getJsonConfig()?>';
    <?php if ($this->getOnepage()->getQuote()->isVirtual()):?>
    IWD.OPC.Checkout.isVirtual = true;
    <?php endif;?>
</script>

<div id="agree_error"
     style="display:none !important;"><?php echo $this->__('Please agree to all the terms and conditions before placing the order.'); ?></div>
<div id="pssm_msg" style="display:none !important;"><?php echo $this->__('Please specify shipping method.'); ?></div>
<div class="opc-ajax-loader">
    <div id="floatingCirclesG">
        <div class="f_circleG" id="frotateG_01"></div>
        <div class="f_circleG" id="frotateG_02"></div>
        <div class="f_circleG" id="frotateG_03"></div>
        <div class="f_circleG" id="frotateG_04"></div>
        <div class="f_circleG" id="frotateG_05"></div>
        <div class="f_circleG" id="frotateG_06"></div>
        <div class="f_circleG" id="frotateG_07"></div>
        <div class="f_circleG" id="frotateG_08"></div>
    </div>
</div>
<div class="opc-message-wrapper design_package_<?php echo $package; ?> design_theme_<?php echo $theme; ?>">

    <div class="opc-messages">
        <a class="close-message-wrapper"><i class="fa fa-close"></i></a>
        <div class="opc-message-container"></div>
        <div class="opc-messages-action">
            <button class="button"><span><span><?php echo $this->__('Close') ?></span></span></button>
        </div>
    </div>
</div>