
// Colour pallette
$c-primary:     #e31d1a;    // red
$c-secondary:   #6699cc;    // light blue
$c-tertiary:    #192e4b;    // dark blue

$c-dark:        #333;
$c-grey:        #9a9a9a;
$c-gray:        $c-grey;
$c-light:       #e5e5e5;
$c-off-white:   #f5f5f5;


$c-body-bg:     $c-off-white;
$c-text:        $c-dark;
$c-link:        $c-secondary;


// Typography
$base-font:         'Open Sans', sans-serif;
$base-font-size:    16px;
$base-line-height:  24px;


// Layout
$container-width:         1160px;
$thin-container-width:    1080px;
$skinny-container-width:  860px;


// Avalanche settings
// $av-widths: ();
$av-enable-grid-flush:    true;
$av-enable-grid-tiny:     true;
$av-enable-grid-large:    true;
$av-enable-grid-center:   true;
$av-enable-grid-auto:     true;